@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
    --font-sans: 'Public Sans', sans-serif;

    --color-pink: #f5a9b8;
    --color-blue: #5bcefa;
}

.dark {
    --ui-bg: var(--ui-color-neutral-900);
}
