bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Tranga.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/.vscode
/.vs/
Tranga/Properties/launchSettings.json
*.DotSettings.user

Manga/
debug/
cover.jpg
cover.png