openapi: 3.0.0
info:
  title: 'MangaUpdates API'
  description: "This API powers our website.\nMost API functions are public and do not require an account. For user-based functions, you must register an account.\nCurrently, user registration must be done through our main website and is disabled via this API.\n\nDownload OpenAPI Specification: [openapi.yaml](openapi.yaml)\n\nPlease contact us at the following emails if you have questions:\n\n* lambchopsil@mangaupdates.com\n* manick@mangaupdates.com\n\n## Warranties\n\nMangaUpdates makes no warranties about service availability, correctness of the data, or anything else. The service is provided as is, and may change at any time.\n\n## Acceptable Use Policy\n\n* You will credit MangaUpdates when using data provided by this API.\n* You will use reasonable spacing between requests so as not to overwhelm the MangaUpdates servers, and employ caching mechanisms when accessing data.\n* You will NOT use MangaUpdates data or API in a way that will:\n    * Deceive or defraud users\n    * Assist or perform an illegal action\n    * Create spam\n    * Damage the database\n\nWe reserve the right to change this policy at any time."
  version: 1.0.0
servers:
  -
    url: 'https://api.mangaupdates.com/v1'
paths:
  /aboutus/category:
    post:
      tags:
        - aboutus
      summary: 'add a category'
      operationId: addAboutusCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusCategoryModelUpdateV1'
      responses:
        '200':
          description: 'Category was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/aboutus/category/{category_id}':
    get:
      tags:
        - aboutus
      summary: 'returns a single category'
      operationId: retrieveAboutusCategory
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: category_id
          in: path
          description: 'Aboutus Category id'
          required: true
          schema:
            type: integer
      responses:
        '404':
          description: 'Category not found'
        '200':
          description: 'Return category record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutusCategoryModelV1'
    delete:
      tags:
        - aboutus
      summary: 'remove a category'
      operationId: deleteAboutusCategory
      parameters:
        -
          name: category_id
          in: path
          description: 'Aboutus Category id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Category was removed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Category does not exist'
        '401':
          description: 'Category does not have correct role'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - aboutus
      summary: 'update a category'
      operationId: updateAboutusCategory
      parameters:
        -
          name: category_id
          in: path
          description: 'id of category'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusCategoryModelUpdateV1'
      responses:
        '200':
          description: 'Category was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Category not found'
      security:
        -
          bearerAuth: []
  /aboutus/users:
    get:
      tags:
        - aboutus
      summary: 'returns categories and users'
      operationId: retrieveAboutusCategoriesAndUsers
      responses:
        '200':
          description: 'List of categories and users'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AboutusCategoryModelV1'
  /aboutus:
    get:
      tags:
        - aboutus
      summary: 'returns description of site'
      operationId: retrieveAboutusDescription
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 'Description of the site'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutusDescriptionModelV1'
    post:
      tags:
        - aboutus
      summary: 'update description of site'
      operationId: updateAboutusDescription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusDescriptionModelV1'
      responses:
        '200':
          description: 'Description of the site updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Error updating description'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have appropriate role'
      security:
        -
          bearerAuth: []
  /aboutus/reorder:
    post:
      tags:
        - aboutus
      summary: 'reorder aboutus'
      operationId: reorderAboutus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AboutusCategoryReorderModelV1'
      responses:
        '200':
          description: 'Categories and users were reordered'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/aboutus/category/{category_id}/users':
    post:
      tags:
        - aboutus
      summary: 'add a user to a category'
      operationId: addAboutusCategoryUser
      parameters:
        -
          name: category_id
          in: path
          description: 'Aboutus Category id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AboutusUserModelUpdateV1'
      responses:
        '200':
          description: 'User was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Category does not exist'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/aboutus/category/{category_id}/users/{entry_id}':
    delete:
      tags:
        - aboutus
      summary: 'remove a user from a category'
      operationId: deleteAboutusCategoryUser
      parameters:
        -
          name: category_id
          in: path
          description: 'Aboutus Category id'
          required: true
          schema:
            type: integer
        -
          name: entry_id
          in: path
          description: 'Aboutus Category User Entry id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'User was removed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'User does not exist'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  /account/captcha:
    get:
      tags:
        - account
      summary: 'retrieve the public captcha key'
      operationId: captcha
      responses:
        '200':
          description: 'Return captcha record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/account/delete/confirm/{auth_hash}':
    post:
      tags:
        - account
      summary: 'confirm deletion of your account'
      operationId: confirmDeleteAccount
      parameters:
        -
          name: auth_hash
          in: path
          description: 'auth hash from email confirmation'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Account was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/account/delete/{captcha_response}':
    post:
      tags:
        - account
      summary: 'delete your account'
      operationId: deleteAccount
      parameters:
        -
          name: captcha_response
          in: path
          description: 'response of captcha'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Account was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  '/account/forgotpass/confirm/{auth_hash}':
    post:
      tags:
        - account
      summary: 'update a password change using an auth hash'
      operationId: confirmAndChangePassword
      parameters:
        -
          name: auth_hash
          in: path
          description: 'auth hash from email confirmation'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserModelUpdatePasswordV1'
      responses:
        '200':
          description: 'Password was changed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
  '/account/forgotpass/{captcha_response}':
    post:
      tags:
        - account
      summary: 'send a forgotten password email'
      operationId: forgotPassword
      parameters:
        -
          name: captcha_response
          in: path
          description: 'response of captcha'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountForgotPassModelV1'
      responses:
        '200':
          description: 'Email was sent'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
  /account/login:
    put:
      tags:
        - account
      summary: 'create a session token'
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLoginModelV1'
      responses:
        '200':
          description: 'Login successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'Invalid credentials or user error'
  /account/loginWithCookie:
    put:
      tags:
        - account
      summary: 'create a session token as a cookie'
      operationId: loginWithCookie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLoginModelV1'
      responses:
        '200':
          description: 'Login successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'Invalid credentials or user error'
  /account/logout:
    post:
      tags:
        - account
      summary: 'remove a session token'
      operationId: logout
      responses:
        '200':
          description: 'Logout successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User is not logged in'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/account/notifications/unsubscribe/{token}':
    get:
      tags:
        - account
      summary: 'preview what will be unsubscribed (no auth required)'
      operationId: previewNotificationUnsubscribe
      parameters:
        -
          name: token
          in: path
          description: 'Unsubscribe token from email'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Preview of unsubscribe action'
          content:
            application/json:
              schema:
                properties:
                  action: { description: 'unsubscribe or unsubscribe_all', type: string }
                  notification_type: { description: 'Notification type being unsubscribed', type: string, nullable: true }
                  username: { description: 'Username for verification', type: string }
                type: object
        '400':
          description: 'Invalid or expired token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
    post:
      tags:
        - account
      summary: 'confirm and execute unsubscribe (no auth required)'
      operationId: confirmNotificationUnsubscribe
      parameters:
        -
          name: token
          in: path
          description: 'Unsubscribe token from email'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully unsubscribed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Invalid or expired token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
  /account/profile:
    get:
      tags:
        - account
      summary: 'get the profile for the current user'
      operationId: profile
      responses:
        '404':
          description: 'User not found'
        '401':
          description: 'User required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '200':
          description: 'Return user record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserModelV1'
      security:
        -
          bearerAuth: []
  /account/refresh:
    get:
      tags:
        - account
      summary: 'refresh session token cookie'
      operationId: refreshCookie
      responses:
        '200':
          description: 'Refresh successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'Invalid credentials or user error'
        '412':
          description: 'Refresh trottled'
  '/account/register/confirm/{auth_hash}':
    post:
      tags:
        - account
      summary: 'confirm a new member registration'
      operationId: confirmRegistration
      parameters:
        -
          name: auth_hash
          in: path
          description: 'auth hash from email confirmation'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Member was confirmed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
  '/account/register/{captcha_response}':
    post:
      tags:
        - account
      summary: 'register a new member'
      operationId: registerMember
      parameters:
        -
          name: captcha_response
          in: path
          description: 'response of captcha'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserModelRegisterV1'
      responses:
        '200':
          description: 'Member was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/account/resendauth/{id}':
    post:
      tags:
        - account
      summary: 'send an auth email to a user'
      operationId: resendAuthEmail
      parameters:
        -
          name: id
          in: path
          description: 'Member id'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 'Auth email was sent'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/account/sendforgot/{id}':
    post:
      tags:
        - account
      summary: 'send a forgotten password email to a user'
      operationId: sendForgotEmail
      parameters:
        -
          name: id
          in: path
          description: 'Member id'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 'Auth email was sent'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  /authors:
    post:
      tags:
        - authors
      summary: 'add an author'
      operationId: addAuthor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsModelUpdateV1'
      responses:
        '200':
          description: 'Author was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  '/authors/{id}':
    get:
      tags:
        - authors
      summary: 'get a specific author'
      operationId: retrieveAuthor
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: id
          in: path
          description: 'Author id'
          required: true
          schema:
            type: integer
      responses:
        '404':
          description: 'Author not found'
        '200':
          description: 'Return author record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorsModelV1'
    delete:
      tags:
        - authors
      summary: 'delete an author'
      operationId: deleteAuthor
      parameters:
        -
          name: id
          in: path
          description: 'id of author'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Author delete transaction submitted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Author not found'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - authors
      summary: 'update an author'
      operationId: updateAuthor
      parameters:
        -
          name: id
          in: path
          description: 'id of author'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsModelUpdateV1'
      responses:
        '200':
          description: 'Author was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'Field is locked'
        '404':
          description: 'Author not found'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  '/authors/{id}/locks':
    get:
      tags:
        - authors
      summary: 'get locks for a specific author'
      operationId: retrieveAuthorLocks
      parameters:
        -
          name: id
          in: path
          description: 'Author id'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '404':
          description: 'Author not found'
        '200':
          description: 'Return author lock records'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorsLockModelV1'
      security:
        -
          bearerAuth: []
  '/authors/{id}/locks/{item}/lock':
    post:
      tags:
        - authors
      summary: 'lock a field of an author'
      operationId: lockAuthorField
      parameters:
        -
          name: id
          in: path
          description: 'id of author'
          required: true
          schema:
            type: integer
            format: int64
        -
          name: item
          in: path
          description: 'field name'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsLockModelUpdateV1'
      responses:
        '200':
          description: 'Field was locked'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Service or validation error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '409':
          description: 'State Conflict'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Author not found'
      security:
        -
          bearerAuth: []
  '/authors/{id}/locks/{item}/unlock':
    post:
      tags:
        - authors
      summary: 'unlock a field of an author'
      operationId: unlockAuthorField
      parameters:
        -
          name: id
          in: path
          description: 'id of author'
          required: true
          schema:
            type: integer
            format: int64
        -
          name: item
          in: path
          description: 'field name'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Field was unlocked'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '409':
          description: 'State Conflict'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Author not found'
      security:
        -
          bearerAuth: []
  /authors/search:
    post:
      tags:
        - authors
      summary: 'search authors'
      operationId: searchAuthorsPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsSearchRequestV1'
      responses:
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '200':
          description: 'List of authors'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorsSearchResponseV1'
  '/authors/{id}/series':
    post:
      tags:
        - authors
      summary: 'get the list of series for a specific author'
      operationId: retrieveAuthorSeries
      parameters:
        -
          name: id
          in: path
          description: 'Author id'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorsSeriesListRequestV1'
      responses:
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Author not found'
        '503':
          description: 'Service temporarily unavailable - please retry'
          headers:
            Retry-After:
              schema:
                type: integer
        '200':
          description: 'Return series list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorsSeriesListResponseV1'
  '/authors/{id}/image':
    post:
      tags:
        - authors
      summary: 'update the image of an author'
      operationId: updateImage
      parameters:
        -
          name: id
          in: path
          description: 'id of author'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                image:
                  description: 'Image to update'
                  type: string
                  format: binary
              type: object
      responses:
        '200':
          description: 'Image was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'Field is locked'
        '404':
          description: 'Author not found'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - authors
      summary: 'delete the image of an author'
      operationId: deleteImage
      parameters:
        -
          name: id
          in: path
          description: 'id of author'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 'Image was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Author not found'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  /categories/bulk/combine:
    post:
      tags:
        - categories
      summary: 'combine two categories across the database'
      operationId: bulkCombineSeriesCategories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeriesCategoryUpdateModelV1'
      responses:
        '200':
          description: 'Transaction has started'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '412':
          description: 'Five second update delay'
  /categories/bulk/delete:
    post:
      tags:
        - categories
      summary: 'delete a category across the database'
      operationId: bulkDeleteSeriesCategories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesModelUpdateV1'
      responses:
        '200':
          description: 'Transaction has started'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '412':
          description: 'Five second update delay'
  /categories/findByPrefix:
    post:
      tags:
        - categories
      summary: 'find a category by prefix'
      operationId: findCategoryByPrefix
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesModelUpdateV1'
      responses:
        '200':
          description: 'Return categories records'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CategoriesModelV1'
  /categories/findByExact:
    post:
      tags:
        - categories
      summary: 'find a category by name'
      operationId: findCategoryByExact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesModelUpdateV1'
      responses:
        '404':
          description: 'Category not found'
        '200':
          description: 'Return categories record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesModelV1'
  /categories/search:
    post:
      tags:
        - categories
      summary: 'search categories'
      operationId: searchCategoriesPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesSearchRequestV1'
      responses:
        '200':
          description: 'Return categories records'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesSearchResponseV1'
  /convo:
    post:
      tags:
        - convo
      summary: 'add an convo'
      operationId: addConvo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoModelAddV1'
      responses:
        '200':
          description: 'Convo was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  /convo/bulk/abandon:
    post:
      tags:
        - convo
      summary: 'abandon convos in bulk'
      operationId: abandonConvoBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoBulkModelV1'
      responses:
        '200':
          description: 'Bulk abandon result'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  /convo/bulk/delete:
    post:
      tags:
        - convo
      summary: 'delete convos in bulk'
      operationId: deleteConvoBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoBulkModelV1'
      responses:
        '200':
          description: 'Bulk deletion result'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/convo/{id}':
    get:
      tags:
        - convo
      summary: 'get a specific convo'
      operationId: retrieveConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
      responses:
        '404':
          description: 'Convo not found'
        '200':
          description: 'Return convo record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoModelV1'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - convo
      summary: 'delete a convo'
      operationId: deleteConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Convo was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Convo not found'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - convo
      summary: 'update a convo'
      operationId: updateConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoModelUpdateV1'
      responses:
        '200':
          description: 'Convo was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  '/convo/ignore/{user_id}':
    get:
      tags:
        - convo
      summary: 'return whether the user is ignored'
      operationId: isUserIgnored
      parameters:
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'User ignore record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoUserIgnoreModelV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'User does not exists'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - convo
      summary: 'ignore a user'
      operationId: ignoreUser
      parameters:
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'User was ignored'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'User does not exists'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - convo
      summary: 'remove ignore for a user'
      operationId: unIgnoreUser
      parameters:
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'User ignore was removed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'User does not exist'
      security:
        -
          bearerAuth: []
  /convo/inbox:
    get:
      tags:
        - convo
      summary: 'display unread messages'
      operationId: convoInbox
      responses:
        '200':
          description: 'List of convos'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
      security:
        -
          bearerAuth: []
  /convo/inbox/count:
    get:
      tags:
        - convo
      summary: 'retrieve number of unread messages'
      operationId: convoInboxCount
      responses:
        '200':
          description: 'Return number of new convos'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
      security:
        -
          bearerAuth: []
  /convo/sent:
    post:
      tags:
        - convo
      summary: 'display sent messages'
      operationId: convoSent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerPageSearchRequestV1'
      responses:
        '200':
          description: 'List of convos'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
      security:
        -
          bearerAuth: []
  /convo/received:
    post:
      tags:
        - convo
      summary: 'display received (and read) messages'
      operationId: convoReceived
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerPageSearchRequestV1'
      responses:
        '200':
          description: 'List of convos'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
      security:
        -
          bearerAuth: []
  '/convo/{id}/messages':
    post:
      tags:
        - convo
      summary: 'add a message to a convo'
      operationId: addConvoMessage
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageModelUpdateV1'
      responses:
        '200':
          description: 'Message was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '412':
          description: 'Five second update delay'
      security:
        -
          bearerAuth: []
  '/convo/{id}/messages/list':
    post:
      tags:
        - convo
      summary: 'list convo messages'
      operationId: listConvoMessages
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageListRequestV1'
      responses:
        '200':
          description: 'List of convo messages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoMessageSearchResponseV1'
        '404':
          description: 'Convo not found'
      security:
        -
          bearerAuth: []
  '/convo/{id}/messages/{message_id}':
    get:
      tags:
        - convo
      summary: 'get a specific convo message'
      operationId: retrieveConvoMessage
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
            format: int64
        -
          name: message_id
          in: path
          description: 'Convo message id'
          required: true
          schema:
            type: integer
            format: int64
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
      responses:
        '404':
          description: 'Convo message not found'
        '200':
          description: 'Return convo message record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoMessageModelV1'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - convo
      summary: 'update a convo message'
      operationId: updateConvoMessage
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
        -
          name: message_id
          in: path
          description: 'Convo message id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageModelUpdateV1'
      responses:
        '200':
          description: 'Message was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '403':
          description: 'Permission error'
        '404':
          description: 'Message does not exist'
      security:
        -
          bearerAuth: []
  '/convo/{id}/messages/{message_id}/location':
    get:
      tags:
        - convo
      summary: 'get a specific convo message location'
      operationId: retrieveConvoMessageLocation
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
            format: int64
        -
          name: message_id
          in: path
          description: 'Convo message id'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 'Return convo message record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/convo/{id}/messages/search':
    post:
      tags:
        - convo
      summary: 'search convo'
      operationId: searchConvoMessagesPost
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoMessageSearchRequestV1'
      responses:
        '200':
          description: 'List of convo messages'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoMessageSearchResponseV1'
        '404':
          description: 'Convo not found'
      security:
        -
          bearerAuth: []
  '/convo/{id}/abandon':
    post:
      tags:
        - convo
      summary: 'abandon a convo'
      operationId: abandonConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Convo was abandoned'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Convo not found'
      security:
        -
          bearerAuth: []
  '/convo/{id}/invite':
    post:
      tags:
        - convo
      summary: 'invite a user to a convo'
      operationId: inviteUserToConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConvoParticipantModelAddV1'
      responses:
        '200':
          description: 'User was invited'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '403':
          description: 'Permission error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Convo does not exists'
      security:
        -
          bearerAuth: []
  '/convo/{id}/join':
    post:
      tags:
        - convo
      summary: 'join a convo'
      operationId: joinConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Join successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Convo does not exists'
      security:
        -
          bearerAuth: []
  '/convo/{id}/kick/{user_id}':
    post:
      tags:
        - convo
      summary: 'kick a user from a convo'
      operationId: kickUserFromConvo
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'User was kicked from convo'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '403':
          description: 'Permission error'
        '404':
          description: 'Convo or user not found'
      security:
        -
          bearerAuth: []
  '/convo/{id}/participants':
    get:
      tags:
        - convo
      summary: 'get list of convo participants'
      operationId: retrieveConvoParticipants
      parameters:
        -
          name: id
          in: path
          description: 'Convo id'
          required: true
          schema:
            type: integer
      responses:
        '404':
          description: 'Convo not found'
        '200':
          description: 'Return convo participants'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConvoParticipantModelV1'
      security:
        -
          bearerAuth: []
  /convo/search:
    post:
      tags:
        - convo
      summary: 'search convo'
      operationId: searchConvoPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvoSearchRequestV1'
      responses:
        '200':
          description: 'List of convos'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvoSearchResponseV1'
      security:
        -
          bearerAuth: []
  /faq:
    get:
      tags:
        - faq
      summary: 'retrieve all categories and questions'
      operationId: retrieveAllFaqCategoriesAndQuestions
      responses:
        '200':
          description: 'Return category and question records'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FaqCategoryQuestionsModelV1'
    post:
      tags:
        - faq
      summary: 'add a faq category'
      operationId: addFaqCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqCategoryModelUpdateV1'
      responses:
        '200':
          description: 'Faq category was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/faq/{category_id}':
    get:
      tags:
        - faq
      summary: 'get a specific category'
      operationId: retrieveFaqCategory
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: category_id
          in: path
          description: 'Faq category id'
          required: true
          schema:
            type: integer
      responses:
        '404':
          description: 'Category not found'
        '200':
          description: 'Return category record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaqCategoryModelV1'
    delete:
      tags:
        - faq
      summary: 'delete a faq category'
      operationId: deleteFaqCategory
      parameters:
        -
          name: category_id
          in: path
          description: 'id of faq category'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Faq Category was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Faq Category not found'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - faq
      summary: 'update a faq category'
      operationId: updateFaqCategory
      parameters:
        -
          name: category_id
          in: path
          description: 'id of faq category'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqCategoryModelUpdateV1'
      responses:
        '200':
          description: 'Faq was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/faq/{category_id}/questions':
    get:
      tags:
        - faq
      summary: 'retrieve all quesitons for a category'
      operationId: retrieveAllFaqCategoryQuestions
      parameters:
        -
          name: category_id
          in: path
          description: 'Faq category id'
          required: true
          schema:
            type: integer
      responses:
        '404':
          description: 'Category not found'
        '200':
          description: 'Return question records'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FaqQuestionModelV1'
    post:
      tags:
        - faq
      summary: 'add a faq question'
      operationId: addFaqQuestion
      parameters:
        -
          name: category_id
          in: path
          description: 'id of category to add question to'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqQuestionModelUpdateV1'
      responses:
        '200':
          description: 'Faq question was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/faq/{category_id}/questions/{question_id}':
    get:
      tags:
        - faq
      summary: 'get a specific question for a category'
      operationId: retrieveFaqQuestion
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: category_id
          in: path
          description: 'Faq category id'
          required: true
          schema:
            type: integer
        -
          name: question_id
          in: path
          description: 'Faq question id'
          required: true
          schema:
            type: integer
      responses:
        '404':
          description: 'Category or question not found'
        '200':
          description: 'Return question record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaqQuestionModelV1'
    delete:
      tags:
        - faq
      summary: 'delete an faq'
      operationId: deleteFaqQuestion
      parameters:
        -
          name: category_id
          in: path
          description: 'Faq category id'
          required: true
          schema:
            type: integer
        -
          name: question_id
          in: path
          description: 'Faq question id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Faq question was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Faq category or question not found'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - faq
      summary: 'update a faq question'
      operationId: updateFaqQuestion
      parameters:
        -
          name: category_id
          in: path
          description: 'Faq category id'
          required: true
          schema:
            type: integer
        -
          name: question_id
          in: path
          description: 'Faq question id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaqQuestionModelUpdateV1'
      responses:
        '200':
          description: 'Faq was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  /faq/reorder:
    post:
      tags:
        - faq
      summary: 'reorder faq'
      operationId: reorderFaq
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FaqCategoryReorderModelV1'
      responses:
        '200':
          description: 'Faq was reordered'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/admins/{user_id}':
    put:
      tags:
        - forum
      summary: 'add a forum admin'
      operationId: addForumAdmin
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Forum admin was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'User not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - forum
      summary: 'remove a forum admin'
      operationId: removeForumAdmin
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Forum admin was removed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'User not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}':
    get:
      tags:
        - forum
      summary: 'retrieve a forum'
      operationId: retrieveForum
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Return topic record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumForumModelV1'
        '404':
          description: 'Forum not found'
    post:
      tags:
        - forum
      summary: 'add a forum topic'
      operationId: addTopic
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumTopicModelAddV1'
      responses:
        '200':
          description: 'Forum topic was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'User is under a warn restriction'
      security:
        -
          bearerAuth: []
  /forums/log:
    post:
      tags:
        - forum
      summary: 'show forum admin log'
      operationId: showLogPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumAdminHistorySearchRequestV1'
      responses:
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have appropriate role'
        '200':
          description: 'Return log records'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumAdminHistorySearchResponseV1'
  /forums:
    get:
      tags:
        - forum
      summary: 'show forum categories and forums'
      operationId: listCategories
      responses:
        '200':
          description: 'List of forums'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumCategoryModelListV1'
      security:
        -
          bearerAuth: []
  /forums/popular:
    get:
      tags:
        - forum
      summary: 'show popular forums'
      operationId: listPopularForums
      responses:
        '200':
          description: 'List of forums'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumForumModelListV1'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/my_posts':
    get:
      tags:
        - forum
      summary: 'list posts in topic that I made'
      operationId: listPostsByMe
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Return post id list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostByUserResponseV1'
        '401':
          description: 'User does not have correct role'
  '/forums/{forum_id}/topics/{topic_id}/list':
    post:
      tags:
        - forum
      summary: 'list posts in topic'
      operationId: listPosts
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerPageSearchRequestV1'
      responses:
        '200':
          description: 'Return post records'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostListResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Forum or topic not found'
  '/forums/{forum_id}/list':
    post:
      tags:
        - forum
      summary: 'list topics'
      operationId: listTopics
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: with_first_post
          in: query
          description: 'Also return the first post of each topic'
          required: false
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumTopicListRequestV1'
      responses:
        '200':
          description: 'Return topic records'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopicListResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Forum not found'
  /forums/global:
    get:
      tags:
        - forum
      summary: 'list global topics'
      operationId: listGlobalTopics
      responses:
        '200':
          description: 'Return topic records'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopicListResponseV1'
  '/forums/lookup/series/{series_id}':
    get:
      tags:
        - forum
      summary: 'lookup a series to find the forum id'
      operationId: lookupSeries
      parameters:
        -
          name: series_id
          in: path
          description: 'Series id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Series lookup response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumLookupResponseV1'
        '404':
          description: 'Series or forum not found'
      security:
        -
          bearerAuth: []
  '/forums/lookup/topic/{topic_id}':
    get:
      tags:
        - forum
      summary: 'lookup a topic to find the forum id'
      operationId: lookupTopic
      parameters:
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Topic lookup response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumLookupResponseV1'
        '404':
          description: 'Topic not found'
      security:
        -
          bearerAuth: []
  '/forums/lookup/post/{post_id}':
    get:
      tags:
        - forum
      summary: 'lookup a post to find the forum and topic id'
      operationId: lookupPost
      parameters:
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Post lookup response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumLookupResponseV1'
        '404':
          description: 'Post not found'
      security:
        -
          bearerAuth: []
  /forums/temp_poll_images:
    get:
      tags:
        - forum
      summary: 'retrieve temporary poll images'
      operationId: retrieveTemporaryPollImages
      responses:
        '200':
          description: 'Return image records'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumPollTempImageModelV1'
    post:
      tags:
        - forum
      summary: 'add a temporary poll image'
      operationId: addTemporaryPollImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                image:
                  description: 'Image to update'
                  type: string
                  format: binary
                caption:
                  description: 'Image caption'
                  type: string
              type: object
      responses:
        '200':
          description: 'Image was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'User is under a warn restriction'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/poll':
    patch:
      tags:
        - forum
      summary: 'update a forum topic poll (if present)'
      operationId: updateTopicPoll
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPollModelUpdateV1'
      responses:
        '200':
          description: 'Topic poll was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/poll/vote/{choice_id}':
    post:
      tags:
        - forum
      summary: 'add a vote to a forum poll'
      operationId: addPollVote
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: choice_id
          in: path
          description: 'Choice id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Poll vote was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'User is under a warn restriction'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/poll/vote':
    get:
      tags:
        - forum
      summary: 'retrieve my vote from the poll'
      operationId: retrieveVote
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Return poll vote record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPollVoteModelV1'
        '401':
          description: 'User does not have correct role'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Poll or vote not found'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}':
    get:
      tags:
        - forum
      summary: 'retrieve a forum topic'
      operationId: retrieveTopic
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Return topic record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopicModelV1'
        '404':
          description: 'Topic not found'
    post:
      tags:
        - forum
      summary: 'add a forum post'
      operationId: addPost
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostModelUpdateV1'
      responses:
        '200':
          description: 'Forum post was added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'User is under a warn restriction'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - forum
      summary: 'delete a topic'
      operationId: deleteTopic
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Topic delete transaction submitted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - forum
      summary: 'update a forum topic'
      operationId: updateTopic
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumTopicModelUpdateV1'
      responses:
        '200':
          description: 'Forum topic was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/posts/{post_id}':
    get:
      tags:
        - forum
      summary: 'retrieve a forum post'
      operationId: retrievePost
      parameters:
        -
          name: unrenderedFields
          in: query
          description: 'Output fields in unrendered form for editing'
          required: false
          schema:
            type: boolean
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Return post record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostModelV1'
        '404':
          description: 'Post not found'
    delete:
      tags:
        - forum
      summary: 'delete a post'
      operationId: deletePost
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Post delete transaction submitted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - forum
      summary: 'update a forum post'
      operationId: updatePost
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostModelUpdateV1'
      responses:
        '200':
          description: 'Forum post was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'User is under a warn restriction'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/posts/{post_id}/report':
    post:
      tags:
        - forum
      summary: 'report a forum post'
      operationId: reportPost
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostReportModelUpdateV1'
      responses:
        '200':
          description: 'Forum post was reported'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '403':
          description: 'User is under a warn restriction'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - forum
      summary: 'delete a post report'
      operationId: deletePostReport
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Post report was deleted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
  /forums/report:
    get:
      tags:
        - forum
      summary: 'show reported posts'
      operationId: listReportedPosts
      responses:
        '200':
          description: 'Return Reported Posts'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumPostReportModelV1'
        '401':
          description: 'User does not have appropriate role'
      security:
        -
          bearerAuth: []
  '/forums/{forum_id}/topics/{topic_id}/posts/{post_id}/location':
    get:
      tags:
        - forum
      summary: 'retrieve a forum post location within topic'
      operationId: retrievePostLocation
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
        -
          name: post_id
          in: path
          description: 'Post id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Return post record'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '404':
          description: 'Post not found'
  /forums/search:
    post:
      tags:
        - forum
      summary: 'search forum'
      operationId: searchForumPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumSearchRequestV1'
      responses:
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '200':
          description: 'Return search results'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumSearchResponseV1'
  '/forums/{forum_id}/search':
    post:
      tags:
        - forum
      summary: 'search specific forum'
      operationId: searchSpecificForumPost
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumSearchRequestV1'
      responses:
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '200':
          description: 'Return search results'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumSearchResponseV1'
  '/forums/{forum_id}/topics/{topic_id}/search':
    post:
      tags:
        - forum
      summary: 'search specific topic'
      operationId: searchSpecificTopicPost
      parameters:
        -
          name: forum_id
          in: path
          description: 'Forum id'
          required: true
          schema:
            type: integer
        -
          name: topic_id
          in: path
          description: 'Topic id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumSearchRequestV1'
      responses:
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '200':
          description: 'Return search results'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumSearchResponseV1'
  '/forums/warn/{user_id}/history':
    get:
      tags:
        - forum
      summary: 'show warn history for a user'
      operationId: listWarnHistoryForUser
      parameters:
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Warn history'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForumWarnModelV1'
        '401':
          description: 'User does not have appropriate role'
      security:
        -
          bearerAuth: []
  '/forums/warn/{user_id}':
    get:
      tags:
        - forum
      summary: 'gets the current warn status for user'
      operationId: getCurrentWarnForUser
      parameters:
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Warn status'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumWarnModelV1'
        '404':
          description: 'User or warn does not exist'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - forum
      summary: 'update a user warn level'
      operationId: updateUserWarnLevel
      parameters:
        -
          name: user_id
          in: path
          description: 'User id'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumWarnModelUpdateV1'
      responses:
        '200':
          description: 'User warn was updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
        '404':
          description: 'Member not found'
      security:
        -
          bearerAuth: []
  /genres:
    get:
      tags:
        - genre
      summary: 'get genres'
      operationId: retrieveGenres
      responses:
        '200':
          description: 'Return genres'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GenreModelStatsV1'
    post:
      tags:
        - genre
      summary: 'add a genre'
      operationId: addGenre
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreModelUpdateV1'
      responses:
        '200':
          description: 'Genre add transaction submitted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '400':
          description: 'Validation or service error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseV1'
        '401':
          description: 'User does not have correct role'
      security:
        -
          bearerAuth: []
[...]
