openapi: 3.1.0
info:
  description: |-
    Komga REST API.

    ## Reference

    Check the API reference:
    - on the [Komga website](https://komga.org/docs/openapi/komga-api)
    - on any running Komga instance at `/swagger-ui.html`
    - on [GitHub](https://raw.githubusercontent.com/gotson/komga/refs/heads/master/komga/docs/openapi.json)

    ## Authentication

    Most endpoints require authentication. Authentication is done using either:
    - Basic Authentication
    - Passing an API Key in the `X-API-Key` header

    ## Sessions

    Upon successful authentication, a session is created, and can be reused.

    - By default, a `KOMGA-SESSION` cookie is set via `Set-Cookie` response header. This works well for browsers and clients that can handle cookies.
    - If you specify a header `X-Auth-Token` during authentication, the session ID will be returned via this same header. You can then pass that header again for subsequent requests to reuse the session.

    If you need to set the session cookie later on, you can call `/api/v1/login/set-cookie` with `X-Auth-Token`. The response will contain the `Set-Cookie` header.

    ## Remember Me

    During authentication, if a request parameter `remember-me` is passed and set to `true`, the server will also return a `komga-remember-me` cookie. This cookie will be used to login automatically even if the session has expired.

    ## Logout

    You can explicitly logout an existing session by calling `/api/logout`. This would return a `204`.

    ## Deprecation

    API endpoints marked as deprecated will be removed in the next major version.
  license:
    name: MIT
    url: https://github.com/gotson/komga/blob/master/LICENSE
  title: Komga API
  version: 1.24.4
externalDocs:
  description: Komga documentation
  url: https://komga.org
servers:
- description: Demo server
  url: https://demo.komga.org
- description: Local development server
  url: "http://localhost:{port}"
  variables:
    port:
      default: "25600"
      enum:
      - "8080"
      - "25600"
security:
- basicAuth: []
- apiKey: []
tags:
- name: Deprecated
- description: Manage libraries.
  name: Libraries
- description: Manage series.
  name: Series
- description: Manage posters for series.
  name: Series Poster
- description: Manage books.
  name: Books
- description: Manage posters for books.
  name: Book Poster
- name: Book Pages
- name: WebPub Manifest
- name: Import
- description: Provide font files and CSS for the Epub Reader.
  name: Fonts
- description: Manage duplicate pages. Duplicate pages are identified by a page hash.
  name: Duplicate Pages
- description: Manage collections.
  name: Collections
- description: Manage posters for collections.
  name: Collection Poster
- name: Collection Series
- description: Manage readlists.
  name: Readlists
- description: Manage posters for readlists.
  name: Readlist Poster
- name: Readlist Books
- description: Retrieve referential metadata from all items in the Komga server.
  name: Referential metadata
- description: Manage current user.
  name: Current user
- description: Manage users.
  name: Users
- description: Manage API Keys
  name: API Keys
- name: User session
- description: List registered OAuth2 providers
  name: OAuth2
- description: Sync points are automatically created during a Kobo sync.
  name: Sync points
- description: Claim a freshly installed Komga server.
  name: Claim
- description: Manage server tasks
  name: Tasks
- description: Server events history
  name: History
- description: List files from the host server's file system
  name: File system
- description: Store and retrieve server settings
  name: Server settings
- description: Retrieve releases information
  name: Releases
- description: Retrieve announcements from the Komga website
  name: Announcements
- description: Manage server
  name: Management
- name: Mihon
- name: ComicRack
- description: "Store and retrieve global and per-user settings. Those settings are\
    \ not used by Komga itself, but can be stored for convenience by client applications."
  name: Client settings
paths:
  /actuator/info:
    get:
      description: "Required role: **ADMIN**"
      operationId: getActuatorInfo
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value: |-
                    {
                      "git": {
                        "branch": "master",
                        "commit": {
                          "id": "9be980d",
                          "time": "2025-03-12T03:40:38Z"
                        }
                      },
                      "build": {
                        "artifact": "komga",
                        "name": "komga",
                        "version": "1.21.2",
                        "group": "komga"
                      },
                      "java": {
                        "version": "23.0.2",
                        "vendor": {
                          "name": "Eclipse Adoptium",
                          "version": "Temurin-23.0.2+7"
                        },
                        "runtime": {
                          "name": "OpenJDK Runtime Environment",
                          "version": "23.0.2+7"
                        },
                        "jvm": {
                          "name": "OpenJDK 64-Bit Server VM",
                          "vendor": "Eclipse Adoptium",
                          "version": "23.0.2+7"
                        }
                      },
                      "os": {
                        "name": "Linux",
                        "version": "6.8.0-57-generic",
                        "arch": "amd64"
                      }
                    }
          description: OK
      summary: Get server information
      tags:
      - Management
    summary: Get general information about the server
  /api/logout:
    get:
      description: Invalidates the current session and clean up any remember-me authentication.
      operationId: postLogout
      responses:
        "204":
          description: No Content
      summary: Logout
      tags:
      - User session
    post:
      description: Invalidates the current session and clean up any remember-me authentication.
      operationId: postLogout_1
      responses:
        "204":
          description: No Content
      summary: Logout
      tags:
      - User session
    summary: Logout current session
  /api/v1/age-ratings:
    get:
      description: Can be filtered by various criteria
      operationId: getAgeRatings
      parameters:
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
          default: null
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                uniqueItems: true
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List age ratings
      tags:
      - Referential metadata
  /api/v1/announcements:
    get:
      description: "Required role: **ADMIN**"
      operationId: getAnnouncements
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonFeedDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Retrieve announcements
      tags:
      - Announcements
    put:
      description: "Required role: **ADMIN**"
      operationId: markAnnouncementsRead
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
              uniqueItems: true
              default: null
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark announcements as read
      tags:
      - Announcements
  /api/v1/authors:
    get:
      deprecated: true
      description: Use GET /api/v2/authors instead. Deprecated since 1.20.0.
      operationId: getAuthorsDeprecated
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: series_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuthorDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List authors
      tags:
      - Deprecated
      - Referential metadata
  /api/v1/authors/names:
    get:
      operationId: getAuthorsNames
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List authors' names
      tags:
      - Referential metadata
  /api/v1/authors/roles:
    get:
      operationId: getAuthorsRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List authors' roles
      tags:
      - Referential metadata
  /api/v1/books:
    get:
      deprecated: true
      description: Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
      operationId: getAllBooksDeprecated
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: media_status
        required: false
        schema:
          items:
            enum:
            - UNKNOWN
            - ERROR
            - READY
            - UNSUPPORTED
            - OUTDATED
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: read_status
        required: false
        schema:
          items:
            enum:
            - UNREAD
            - READ
            - IN_PROGRESS
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: released_after
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List books
      tags:
      - Books
      - Deprecated
  /api/v1/books/duplicates:
    get:
      description: |-
        Return books that have the same file hash.

        Required role: **ADMIN**
      operationId: getBooksDuplicates
      parameters:
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List duplicate books
      tags:
      - Books
  /api/v1/books/import:
    post:
      description: "Required role: **ADMIN**"
      operationId: importBooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookImportBatchDto"
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Import books
      tags:
      - Import
  /api/v1/books/latest:
    get:
      description: Return newly added or updated books.
      operationId: getBooksLatest
      parameters:
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List latest books
      tags:
      - Books
  /api/v1/books/list:
    post:
      operationId: getBooks
      parameters:
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookSearch"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List books
      tags:
      - Books
  /api/v1/books/metadata:
    patch:
      description: |-
        Set a field to null to unset the metadata. You can omit fields you don't want to update.

        Required role: **ADMIN**
      operationId: updateBookMetadataByBatch
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                $ref: "#/components/schemas/BookMetadataUpdateDto"
              description: A map of book IDs which values are the metadata fields
                to update. Set a field to null to unset the metadata. You can omit
                fields you don't want to update.
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Update book metadata in bulk
      tags:
      - Books
  /api/v1/books/ondeck:
    get:
      description: Return first unread book of series with at least one book read
        and no books in progress.
      operationId: getBooksOnDeck
      parameters:
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List books on deck
      tags:
      - Books
  /api/v1/books/thumbnails:
    put:
      description: "Required role: **ADMIN**"
      operationId: booksRegenerateThumbnails
      parameters:
      - explode: true
        in: query
        name: for_bigger_result_only
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Regenerate books posters
      tags:
      - Book Poster
  /api/v1/books/{bookId}:
    get:
      operationId: getBookById
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get book details
      tags:
      - Books
  /api/v1/books/{bookId}/analyze:
    post:
      description: "Required role: **ADMIN**"
      operationId: bookAnalyze
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Analyze book
      tags:
      - Books
  /api/v1/books/{bookId}/file:
    delete:
      description: "Required role: **ADMIN**"
      operationId: deleteBookFile
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete book file
      tags:
      - Books
    get:
      description: |-
        Download the book file.

        Required role: **FILE_DOWNLOAD**
      operationId: downloadBookFile
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamingResponseBody"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/StreamingResponseBody"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Download book file
      tags:
      - Books
  /api/v1/books/{bookId}/file/*:
    get:
      description: |-
        Download the book file.

        Required role: **FILE_DOWNLOAD**
      operationId: downloadBookFile_1
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamingResponseBody"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/StreamingResponseBody"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Download book file
      tags:
      - Books
  /api/v1/books/{bookId}/manifest:
    get:
      operationId: getBookWebPubManifest
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/divina+json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
            application/json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
            application/webpub+json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get book's WebPub manifest
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/manifest/divina:
    get:
      operationId: getBookWebPubManifestDivina
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/divina+json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
            application/json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get book's WebPub manifest (DiViNa)
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/manifest/epub:
    get:
      operationId: getBookWebPubManifestEpub
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
            application/webpub+json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get book's WebPub manifest (Epub)
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/manifest/pdf:
    get:
      operationId: getBookWebPubManifestPdf
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
            application/webpub+json:
              schema:
                $ref: "#/components/schemas/WPPublicationDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get book's WebPub manifest (PDF)
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/metadata:
    patch:
      description: |-
        Set a field to null to unset the metadata. You can omit fields you don't want to update.

        Required role: **ADMIN**
      operationId: updateBookMetadata
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookMetadataUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Update book metadata
      tags:
      - Books
  /api/v1/books/{bookId}/metadata/refresh:
    post:
      description: "Required role: **ADMIN**"
      operationId: bookRefreshMetadata
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Refresh book metadata
      tags:
      - Books
  /api/v1/books/{bookId}/next:
    get:
      operationId: getBookSiblingNext
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get next book in series
      tags:
      - Books
  /api/v1/books/{bookId}/pages:
    get:
      operationId: getBookPages
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PageDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List book pages
      tags:
      - Book Pages
  /api/v1/books/{bookId}/pages/{pageNumber}:
    get:
      description: "Required role: **PAGE_STREAMING**"
      operationId: getBookPageByNumber
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pageNumber
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Convert the image to the provided format.
        explode: true
        in: query
        name: convert
        required: false
        schema:
          enum:
          - jpeg
          - png
          type: string
        style: form
      - description: "If set to true, pages will start at index 0. If set to false,\
          \ pages will start at index 1."
        explode: true
        in: query
        name: zero_based
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Some very limited server driven content negotiation is handled.\
          \ If a book is a PDF book, and the Accept header contains 'application/pdf'\
          \ as a more specific type than other 'image/' types, a raw PDF page will\
          \ be returned."
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          items:
            $ref: "#/components/schemas/MediaType"
          type: array
          default: null
        style: simple
      - explode: true
        in: query
        name: contentNegotiation
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            image/*:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get book page image
      tags:
      - Book Pages
  /api/v1/books/{bookId}/pages/{pageNumber}/raw:
    get:
      description: |-
        Returns the book page in raw format, without content negotiation.

        Required role: **PAGE_STREAMING**
      operationId: getBookPageRawByNumber
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pageNumber
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get raw book page
      tags:
      - Book Pages
  /api/v1/books/{bookId}/pages/{pageNumber}/thumbnail:
    get:
      description: The image is resized to 300px on the largest dimension.
      operationId: getBookPageThumbnailByNumber
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pageNumber
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get book page thumbnail
      tags:
      - Book Pages
  /api/v1/books/{bookId}/positions:
    get:
      description: The Positions API is a proposed standard for OPDS 2 and Readium.
        It is used by the Epub Reader.
      operationId: getBookPositions
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/R2Positions"
            application/vnd.readium.position-list+json:
              schema:
                $ref: "#/components/schemas/R2Positions"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List book's positions
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/previous:
    get:
      operationId: getBookSiblingPrevious
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get previous book in series
      tags:
      - Books
  /api/v1/books/{bookId}/progression:
    get:
      description: The Progression API is a proposed standard for OPDS 2 and Readium.
        It is used by the Epub Reader.
      operationId: getBookProgression
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/R2Progression"
            application/vnd.readium.progression+json:
              schema:
                $ref: "#/components/schemas/R2Progression"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get book progression
      tags:
      - WebPub Manifest
    put:
      description: The Progression API is a proposed standard for OPDS 2 and Readium.
        It is used by the Epub Reader.
      operationId: updateBookProgression
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/R2Progression"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark book progression
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/read-progress:
    delete:
      description: Mark book as unread
      operationId: deleteBookReadProgress
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark book as unread
      tags:
      - Books
    patch:
      description: Mark book as read and/or change page progress.
      operationId: markBookReadProgress
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadProgressUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark book's read progress
      tags:
      - Books
  /api/v1/books/{bookId}/readlists:
    get:
      operationId: getReadListsByBookId
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ReadListDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List book's readlists
      tags:
      - Books
  /api/v1/books/{bookId}/resource/{resource}:
    get:
      description: Return a resource from within an Epub book.
      operationId: getBookEpubResource
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: byte
                type: string
            application/json:
              schema:
                format: byte
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: Get Epub resource
      tags:
      - WebPub Manifest
  /api/v1/books/{bookId}/thumbnail:
    get:
      operationId: getBookThumbnail
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get book's poster image
      tags:
      - Book Poster
  /api/v1/books/{bookId}/thumbnails:
    get:
      operationId: getBookThumbnails
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ThumbnailBookDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List book posters
      tags:
      - Book Poster
    post:
      description: "Required role: **ADMIN**"
      operationId: addUserUploadedBookThumbnail
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: selected
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/addUserUploadedBookThumbnail_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThumbnailBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Add book poster
      tags:
      - Book Poster
  /api/v1/books/{bookId}/thumbnails/{thumbnailId}:
    delete:
      description: |-
        Only uploaded posters can be deleted.

        Required role: **ADMIN**
      operationId: deleteUserUploadedBookThumbnail
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: thumbnailId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete book poster
      tags:
      - Book Poster
    get:
      operationId: getBookThumbnailById
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: thumbnailId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get book poster image
      tags:
      - Book Poster
  /api/v1/books/{bookId}/thumbnails/{thumbnailId}/selected:
    put:
      description: "Required role: **ADMIN**"
      operationId: markBookThumbnailSelected
      parameters:
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: thumbnailId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark book poster as selected
      tags:
      - Book Poster
  /api/v1/claim:
    get:
      description: Check whether this server has already been claimed.
      operationId: getClaimStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimStatus"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: Retrieve claim status
      tags:
      - Claim
    post:
      description: Creates an admin user with the provided credentials.
      operationId: claimServer
      parameters:
      - explode: false
        in: header
        name: X-Komga-Email
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Komga-Password
        required: true
        schema:
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: Claim server
      tags:
      - Claim
  /api/v1/client-settings/global:
    delete:
      description: |-
        Setting key should be a valid lowercase namespace string like 'application.domain.key'

        Required role: **ADMIN**
      operationId: deleteGlobalSettings
      requestBody:
        content:
          application/json:
            example:
            - application.key1
            - application.key2
            schema:
              items:
                type: string
              type: array
              uniqueItems: true
              default: null
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete global settings
      tags:
      - Client settings
    patch:
      description: |-
        Setting key should be a valid lowercase namespace string like 'application.domain.key'

        Required role: **ADMIN**
      operationId: saveGlobalSetting
      requestBody:
        content:
          application/json:
            example:
              application.key1:
                value: a string value
                allowUnauthorized: true
              application.key2:
                value: "{\"json\":\"object\"}"
                allowUnauthorized: false
            schema:
              additionalProperties:
                $ref: "#/components/schemas/ClientSettingGlobalUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Save global settings
      tags:
      - Client settings
  /api/v1/client-settings/global/list:
    get:
      description: "For unauthenticated users, only settings with 'allowUnauthorized=true'\
        \ will be returned."
      operationId: getGlobalSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/ClientSettingDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: Retrieve global client settings
      tags:
      - Client settings
  /api/v1/client-settings/user:
    delete:
      description: Setting key should be a valid lowercase namespace string like 'application.domain.key'
      operationId: deleteUserSettings
      requestBody:
        content:
          application/json:
            example:
            - application.key1
            - application.key2
            schema:
              items:
                type: string
              type: array
              uniqueItems: true
              default: null
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete user settings
      tags:
      - Client settings
    patch:
      description: Setting key should be a valid lowercase namespace string like 'application.domain.key'
      operationId: saveUserSetting
      requestBody:
        content:
          application/json:
            example:
              application.key1:
                value: a string value
              application.key2:
                value: "{\"json\":\"object\"}"
            schema:
              additionalProperties:
                $ref: "#/components/schemas/ClientSettingUserUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Save user settings
      tags:
      - Client settings
  /api/v1/client-settings/user/list:
    get:
      operationId: getUserSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/ClientSettingDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Retrieve user client settings
      tags:
      - Client settings
  /api/v1/collections:
    get:
      operationId: getCollections
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageCollectionDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List collections
      tags:
      - Collections
    post:
      description: "Required role: **ADMIN**"
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionCreationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Create collection
      tags:
      - Collections
  /api/v1/collections/{id}:
    delete:
      description: "Required role: **ADMIN**"
      operationId: deleteCollectionById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete collection
      tags:
      - Collections
    get:
      operationId: getCollectionById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get collection details
      tags:
      - Collections
    patch:
      description: "Required role: **ADMIN**"
      operationId: updateCollectionById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Update collection
      tags:
      - Collections
  /api/v1/collections/{id}/series:
    get:
      operationId: getSeriesByCollectionId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - ENDED
            - ONGOING
            - ABANDONED
            - HIATUS
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: read_status
        required: false
        schema:
          items:
            enum:
            - UNREAD
            - READ
            - IN_PROGRESS
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: publisher
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: language
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: genre
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: age_rating
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: release_year
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: complete
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Author criteria in the format: name,role. Multiple author criteria\
          \ are supported."
        explode: true
        in: query
        name: author
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageSeriesDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List collection's series
      tags:
      - Collection Series
  /api/v1/collections/{id}/thumbnail:
    get:
      operationId: getCollectionThumbnail
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get collection's poster image
      tags:
      - Collection Poster
  /api/v1/collections/{id}/thumbnails:
    get:
      operationId: getCollectionThumbnails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ThumbnailSeriesCollectionDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List collection's posters
      tags:
      - Collection Poster
    post:
      description: "Required role: **ADMIN**"
      operationId: addUserUploadedCollectionThumbnail
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: selected
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/addUserUploadedBookThumbnail_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThumbnailSeriesCollectionDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Add collection poster
      tags:
      - Collection Poster
  /api/v1/collections/{id}/thumbnails/{thumbnailId}:
    delete:
      description: "Required role: **ADMIN**"
      operationId: deleteUserUploadedCollectionThumbnail
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: thumbnailId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete collection poster
      tags:
      - Collection Poster
    get:
      operationId: getCollectionThumbnailById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: thumbnailId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get collection poster image
      tags:
      - Collection Poster
  /api/v1/collections/{id}/thumbnails/{thumbnailId}/selected:
    put:
      description: "Required role: **ADMIN**"
      operationId: markCollectionThumbnailSelected
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: thumbnailId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark collection poster as selected
      tags:
      - Collection Poster
  /api/v1/filesystem:
    post:
      description: |-
        List folders and files from the host server's file system. If no request body is passed then the root directories are returned.

        Required role: **ADMIN**
      operationId: getDirectoryListing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectoryRequestDto"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectoryListingDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Directory listing
      tags:
      - File system
  /api/v1/fonts/families:
    get:
      description: List all available font families.
      operationId: getFonts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                uniqueItems: true
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List font families
      tags:
      - Fonts
  /api/v1/fonts/resource/{fontFamily}/css:
    get:
      description: Download a CSS file with the @font-face block for the font family.
        This is used by the Epub Reader to change fonts.
      operationId: getFontFamilyAsCss
      parameters:
      - explode: false
        in: path
        name: fontFamily
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            text/css:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: Download CSS file
      tags:
      - Fonts
  /api/v1/fonts/resource/{fontFamily}/{fontFile}:
    get:
      operationId: getFontFile
      parameters:
      - explode: false
        in: path
        name: fontFamily
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fontFile
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: Download font file
      tags:
      - Fonts
  /api/v1/genres:
    get:
      description: Can be filtered by various criteria
      operationId: getGenres
      parameters:
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
          default: null
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                uniqueItems: true
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List genres
      tags:
      - Referential metadata
  /api/v1/history:
    get:
      description: "Required role: **ADMIN**"
      operationId: getHistoricalEvents
      parameters:
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageHistoricalEventDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List historical events
      tags:
      - History
  /api/v1/languages:
    get:
      description: Can be filtered by various criteria
      operationId: getLanguages
      parameters:
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
          default: null
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                uniqueItems: true
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List languages
      tags:
      - Referential metadata
  /api/v1/libraries:
    get:
      description: The libraries are filtered based on the current user's permissions
      operationId: getLibraries
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LibraryDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List all libraries
      tags:
      - Libraries
    post:
      description: "Required role: **ADMIN**"
      operationId: addLibrary
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LibraryCreationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Create a library
      tags:
      - Libraries
  /api/v1/libraries/{libraryId}:
    delete:
      description: "Required role: **ADMIN**"
      operationId: deleteLibraryById
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete a library
      tags:
      - Libraries
    get:
      operationId: getLibraryById
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get details for a single library
      tags:
      - Libraries
    patch:
      description: |-
        You can omit fields you don't want to update

        Required role: **ADMIN**
      operationId: updateLibraryById
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LibraryUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Update a library
      tags:
      - Libraries
    put:
      deprecated: true
      description: |-
        Use PATCH /api/v1/libraries/{libraryId} instead. Deprecated since 1.3.0.

        Required role: **ADMIN**
      operationId: updateLibraryByIdDeprecated
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LibraryUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Update a library
      tags:
      - Deprecated
      - Libraries
  /api/v1/libraries/{libraryId}/analyze:
    post:
      description: "Required role: **ADMIN**"
      operationId: libraryAnalyze
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Analyze a library
      tags:
      - Libraries
  /api/v1/libraries/{libraryId}/empty-trash:
    post:
      description: "Required role: **ADMIN**"
      operationId: libraryEmptyTrash
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Empty trash for a library
      tags:
      - Libraries
  /api/v1/libraries/{libraryId}/metadata/refresh:
    post:
      description: "Required role: **ADMIN**"
      operationId: libraryRefreshMetadata
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Refresh metadata for a library
      tags:
      - Libraries
  /api/v1/libraries/{libraryId}/scan:
    post:
      description: "Required role: **ADMIN**"
      operationId: libraryScan
      parameters:
      - explode: false
        in: path
        name: libraryId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: deep
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Scan a library
      tags:
      - Libraries
  /api/v1/login/set-cookie:
    get:
      description: "Forcefully return Set-Cookie header, even if the session is contained\
        \ in the X-Auth-Token header."
      operationId: convertHeaderSessionToCookie
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Set cookie
      tags:
      - User session
  /api/v1/oauth2/providers:
    get:
      operationId: getOAuth2Providers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/OAuth2ClientDto"
                type: array
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      security: []
      summary: List registered OAuth2 providers
      tags:
      - OAuth2
  /api/v1/page-hashes:
    get:
      description: "Required role: **ADMIN**"
      operationId: getKnownPageHashes
      parameters:
      - explode: true
        in: query
        name: action
        required: false
        schema:
          items:
            enum:
            - DELETE_AUTO
            - DELETE_MANUAL
            - IGNORE
            type: string
          type: array
          default: null
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagePageHashKnownDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List known duplicates
      tags:
      - Duplicate Pages
    put:
      description: "Required role: **ADMIN**"
      operationId: createOrUpdateKnownPageHash
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageHashCreationDto"
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Mark duplicate page as known
      tags:
      - Duplicate Pages
  /api/v1/page-hashes/unknown:
    get:
      description: "Required role: **ADMIN**"
      operationId: getUnknownPageHashes
      parameters:
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagePageHashUnknownDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List unknown duplicates
      tags:
      - Duplicate Pages
  /api/v1/page-hashes/unknown/{pageHash}/thumbnail:
    get:
      description: "Required role: **ADMIN**"
      operationId: getUnknownPageHashThumbnail
      parameters:
      - explode: false
        in: path
        name: pageHash
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: resize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get unknown duplicate image thumbnail
      tags:
      - Duplicate Pages
  /api/v1/page-hashes/{pageHash}:
    get:
      description: "Required role: **ADMIN**"
      operationId: getPageHashMatches
      parameters:
      - explode: false
        in: path
        name: pageHash
        required: true
        schema:
          type: string
        style: simple
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagePageHashMatchDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List duplicate matches
      tags:
      - Duplicate Pages
  /api/v1/page-hashes/{pageHash}/delete-all:
    post:
      description: "Required role: **ADMIN**"
      operationId: deleteDuplicatePagesByPageHash
      parameters:
      - explode: false
        in: path
        name: pageHash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete all duplicate pages by hash
      tags:
      - Duplicate Pages
  /api/v1/page-hashes/{pageHash}/delete-match:
    post:
      description: "Required role: **ADMIN**"
      operationId: deleteSingleMatchByPageHash
      parameters:
      - explode: false
        in: path
        name: pageHash
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageHashMatchDto"
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete specific duplicate page
      tags:
      - Duplicate Pages
  /api/v1/page-hashes/{pageHash}/thumbnail:
    get:
      description: "Required role: **ADMIN**"
      operationId: getKnownPageHashThumbnail
      parameters:
      - explode: false
        in: path
        name: pageHash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
        default:
          content:
            application/json:
              schema:
                format: binary
                type: string
            image/jpeg:
              schema:
                format: binary
                type: string
          description: default response
      summary: Get known duplicate image thumbnail
      tags:
      - Duplicate Pages
  /api/v1/publishers:
    get:
      description: Can be filtered by various criteria
      operationId: getPublishers
      parameters:
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          uniqueItems: true
          default: null
        style: form
      - explode: true
        in: query
        name: collection_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                uniqueItems: true
                default: null
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List publishers
      tags:
      - Referential metadata
  /api/v1/readlists:
    get:
      operationId: getReadLists
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageReadListDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List readlists
      tags:
      - Readlists
    post:
      description: "Required role: **ADMIN**"
      operationId: createReadList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadListCreationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadListDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Create readlist
      tags:
      - Readlists
  /api/v1/readlists/match/comicrack:
    post:
      description: "Required role: **ADMIN**"
      operationId: matchComicRackList
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/addUserUploadedBookThumbnail_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadListRequestMatchDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Match ComicRack list
      tags:
      - ComicRack
  /api/v1/readlists/{id}:
    delete:
      description: "Required role: **ADMIN**"
      operationId: deleteReadListById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Delete readlist
      tags:
      - Readlists
    get:
      operationId: getReadListById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadListDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Get readlist details
      tags:
      - Readlists
    patch:
      description: "Required role: **ADMIN**"
      operationId: updateReadListById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadListUpdateDto"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: Update readlist
      tags:
      - Readlists
  /api/v1/readlists/{id}/books:
    get:
      operationId: getBooksByReadListId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: library_id
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: read_status
        required: false
        schema:
          items:
            enum:
            - UNREAD
            - READ
            - IN_PROGRESS
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: tag
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: media_status
        required: false
        schema:
          items:
            enum:
            - UNKNOWN
            - ERROR
            - READY
            - UNSUPPORTED
            - OUTDATED
            type: string
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: unpaged
        required: false
        schema:
          type: boolean
        style: form
      - description: Zero-based page index (0..N)
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page to be returned
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      - description: "Author criteria in the format: name,role. Multiple author criteria\
          \ are supported."
        explode: true
        in: query
        name: author
        required: false
        schema:
          items:
            type: string
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageBookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
      summary: List readlist's books
      tags:
      - Readlist Books
  /api/v1/readlists/{id}/books/{bookId}/next:
    get:
      operationId: getBookSiblingNextInReadList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookDto"
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Bad Request
[...]
