:root{
    --background-color: #eee;
    --second-background-color: #fff;
    --primary-color: #f5a9b8;
    --secondary-color: #5bcefa;
    --accent-color: #fff;
    --topbar-height: 60px;
    box-sizing: content-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

background-placeholder{
    background-color: var(--second-background-color);
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 0;
    z-index: -1;
}

topbar {
    display: flex;
    align-items: center;
    height: var(--topbar-height);
    background-color: var(--secondary-color);
}

titlebox {
    position: relative;
    display: flex;
    margin: 0 0 0 40px;
    height: 100%;
    align-items:center;
    justify-content:center;
}

titlebox span{
    font-size: 24pt;
    font-weight: bold;
    background: linear-gradient(150deg, var(--primary-color), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
}

titlebox img {
    height: 100%;
    margin-right: 10px;
}

spacer{
    flex-grow: 1;
}

searchdiv{
    display: block;
    margin: 0 10px 0 0;
}

#searchbox {
    padding: 6px 8px;
    border: 0;
    border-radius: 3px;
    font-size: 14pt;
    width: 250px;
}

#settingscog {
    cursor: pointer;
    margin: 0px 30px;
    height: calc(100% - 40px);
    filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(115deg) brightness(116%) contrast(101%);
}

viewport {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

sidebar{
    position: relative;
    width: 20rem;
    margin-bottom: 20px;
    border-radius: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    
}

content {
    position: relative;
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

settingstab{
    position: absolute;
    right: -20rem;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    width: 20rem;
    height: calc(100% - var(--topbar-height) - 40px);
    margin-bottom: 10px;
    border-radius: 5px 0 0 5px;
}

#addPublication {
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 180px;
    height: 300px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 15px 20px;
    position: relative;
}

#addPublication p{
    width: 100%;
    text-align: center;
    font-size: 150pt;
    vertical-align: middle;
    line-height: 300px;
    margin: 0;
    color: var(--accent-color);
}

.pill {
    flex-grow: 0;
    height: 14pt;
    font-size: 12pt;
    border-radius: 9pt;
    background-color: var(--primary-color);
    padding: 2pt 20px;
}

publication{
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 180px;
    height: 300px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 15px 20px;
    position: relative;
}

publication::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    border-radius: 5px;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1));
}

publication-information {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

connector-name{
    width: fit-content;
    margin: 10px 0;
    z-index: 1;
}

publication-name{
    width: fit-content;
    font-size: 16pt;
    font-weight: bold;
    z-index: 1;
    color: var(--accent-color);
}

publication img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

addtask-popup{
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

addtask-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

addtask-window {
    display: block;
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 70%;
    padding: 0;
    background-color: var(--accent-color);
    z-index: 5;
    border-radius: 5px;
}

window-titlebar {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px 5px 0 0;
    color: var(--accent-color);
    display: flex block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

window-titlebar p {
    margin: 0 30px;
    font-size: 14pt;
    font-weight: bolder;
    letter-spacing: 1px;
}

window-titlebar #closePopupImg {
    height: 70%;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(115deg) brightness(116%) contrast(101%);
}

window-content {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
}

#taskSelectOutput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}