/*
 * Komga API
 *
 * Komga REST API.  ## Reference  Check the API reference: - on the [Komga website](https://komga.org/docs/openapi/komga-api) - on any running Komga instance at `/swagger-ui.html` - on [GitHub](https://raw.githubusercontent.com/gotson/komga/refs/heads/master/komga/docs/openapi.json)  ## Authentication  Most endpoints require authentication. Authentication is done using either: - Basic Authentication - Passing an API Key in the `X-API-Key` header  ## Sessions  Upon successful authentication, a session is created, and can be reused.  - By default, a `KOMGA-SESSION` cookie is set via `Set-Cookie` response header. This works well for browsers and clients that can handle cookies. - If you specify a header `X-Auth-Token` during authentication, the session ID will be returned via this same header. You can then pass that header again for subsequent requests to reuse the session.  If you need to set the session cookie later on, you can call `/api/v1/login/set-cookie` with `X-Auth-Token`. The response will contain the `Set-Cookie` header.  ## Remember Me  During authentication, if a request parameter `remember-me` is passed and set to `true`, the server will also return a `komga-remember-me` cookie. This cookie will be used to login automatically even if the session has expired.  ## Logout  You can explicitly logout an existing session by calling `/api/logout`. This would return a `204`.  ## Deprecation  API endpoints marked as deprecated will be removed in the next major version.
 *
 * The version of the OpenAPI document: 1.24.4
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using Komga.Client.Client;
using Komga.Client.Model;

namespace Komga.Client.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IDeprecatedApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// List books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        [Obsolete]
        PageBookDto GetAllBooksDeprecated(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default);

        /// <summary>
        /// List books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        [Obsolete]
        ApiResponse<PageBookDto> GetAllBooksDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default);
        /// <summary>
        /// List authors
        /// </summary>
        /// <remarks>
        /// Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <returns>List&lt;AuthorDto&gt;</returns>
        [Obsolete]
        List<AuthorDto> GetAuthorsDeprecated(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default);

        /// <summary>
        /// List authors
        /// </summary>
        /// <remarks>
        /// Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <returns>ApiResponse of List&lt;AuthorDto&gt;</returns>
        [Obsolete]
        ApiResponse<List<AuthorDto>> GetAuthorsDeprecatedWithHttpInfo(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default);
        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        [Obsolete]
        PageBookDto GetBooksBySeriesId(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);

        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        [Obsolete]
        ApiResponse<PageBookDto> GetBooksBySeriesIdWithHttpInfo(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);
        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        List<GroupCountDto> GetSeriesAlphabeticalGroupsDeprecated(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default);

        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        ApiResponse<List<GroupCountDto>> GetSeriesAlphabeticalGroupsDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default);
        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageSeriesDto</returns>
        [Obsolete]
        PageSeriesDto GetSeriesDeprecated(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);

        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageSeriesDto</returns>
        [Obsolete]
        ApiResponse<PageSeriesDto> GetSeriesDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);
        /// <summary>
        /// Update a library
        /// </summary>
        /// <remarks>
        /// Use PATCH /api/v1/libraries/{libraryId} instead. Deprecated since 1.3.0.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"></param>
        /// <param name="libraryUpdateDto"></param>
        /// <returns></returns>
        [Obsolete]
        void UpdateLibraryByIdDeprecated(string libraryId, LibraryUpdateDto libraryUpdateDto);

        /// <summary>
        /// Update a library
        /// </summary>
        /// <remarks>
        /// Use PATCH /api/v1/libraries/{libraryId} instead. Deprecated since 1.3.0.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"></param>
        /// <param name="libraryUpdateDto"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        [Obsolete]
        ApiResponse<Object> UpdateLibraryByIdDeprecatedWithHttpInfo(string libraryId, LibraryUpdateDto libraryUpdateDto);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IDeprecatedApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// List books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        [Obsolete]
        System.Threading.Tasks.Task<PageBookDto> GetAllBooksDeprecatedAsync(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<PageBookDto>> GetAllBooksDeprecatedWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List authors
        /// </summary>
        /// <remarks>
        /// Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of List&lt;AuthorDto&gt;</returns>
        [Obsolete]
        System.Threading.Tasks.Task<List<AuthorDto>> GetAuthorsDeprecatedAsync(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List authors
        /// </summary>
        /// <remarks>
        /// Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (List&lt;AuthorDto&gt;)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<List<AuthorDto>>> GetAuthorsDeprecatedWithHttpInfoAsync(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        [Obsolete]
        System.Threading.Tasks.Task<PageBookDto> GetBooksBySeriesIdAsync(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<PageBookDto>> GetBooksBySeriesIdWithHttpInfoAsync(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        System.Threading.Tasks.Task<List<GroupCountDto>> GetSeriesAlphabeticalGroupsDeprecatedAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (List&lt;GroupCountDto&gt;)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<List<GroupCountDto>>> GetSeriesAlphabeticalGroupsDeprecatedWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageSeriesDto</returns>
        [Obsolete]
        System.Threading.Tasks.Task<PageSeriesDto> GetSeriesDeprecatedAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageSeriesDto)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<PageSeriesDto>> GetSeriesDeprecatedWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Update a library
        /// </summary>
        /// <remarks>
        /// Use PATCH /api/v1/libraries/{libraryId} instead. Deprecated since 1.3.0.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"></param>
        /// <param name="libraryUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        [Obsolete]
        System.Threading.Tasks.Task UpdateLibraryByIdDeprecatedAsync(string libraryId, LibraryUpdateDto libraryUpdateDto, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update a library
        /// </summary>
        /// <remarks>
        /// Use PATCH /api/v1/libraries/{libraryId} instead. Deprecated since 1.3.0.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"></param>
        /// <param name="libraryUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<Object>> UpdateLibraryByIdDeprecatedWithHttpInfoAsync(string libraryId, LibraryUpdateDto libraryUpdateDto, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IDeprecatedApi : IDeprecatedApiSync, IDeprecatedApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class DeprecatedApi : IDisposable, IDeprecatedApi
    {
        private Komga.Client.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public DeprecatedApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public DeprecatedApi(string basePath)
        {
            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public DeprecatedApi(Komga.Client.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public DeprecatedApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public DeprecatedApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public DeprecatedApi(HttpClient client, Komga.Client.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="DeprecatedApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public DeprecatedApi(Komga.Client.Client.ISynchronousClient client, Komga.Client.Client.IAsynchronousClient asyncClient, Komga.Client.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public Komga.Client.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public Komga.Client.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public Komga.Client.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public Komga.Client.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public Komga.Client.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// List books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        [Obsolete]
        public PageBookDto GetAllBooksDeprecated(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = GetAllBooksDeprecatedWithHttpInfo(search, libraryId, mediaStatus, readStatus, releasedAfter, tag, unpaged, page, size, sort);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        [Obsolete]
        public Komga.Client.Client.ApiResponse<PageBookDto> GetAllBooksDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default)
        {
            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (releasedAfter != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "released_after", releasedAfter));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (sort != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "sort", sort));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<PageBookDto>("/api/v1/books", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetAllBooksDeprecated", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        [Obsolete]
        public async System.Threading.Tasks.Task<PageBookDto> GetAllBooksDeprecatedAsync(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = await GetAllBooksDeprecatedWithHttpInfoAsync(search, libraryId, mediaStatus, readStatus, releasedAfter, tag, unpaged, page, size, sort, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="releasedAfter"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        [Obsolete]
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<PageBookDto>> GetAllBooksDeprecatedWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, List<string>? mediaStatus = default, List<string>? readStatus = default, DateOnly? releasedAfter = default, List<string>? tag = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, System.Threading.CancellationToken cancellationToken = default)
        {

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (releasedAfter != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "released_after", releasedAfter));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (sort != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "sort", sort));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<PageBookDto>("/api/v1/books", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetAllBooksDeprecated", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List authors Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <returns>List&lt;AuthorDto&gt;</returns>
        [Obsolete]
        public List<AuthorDto> GetAuthorsDeprecated(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default)
        {
            Komga.Client.Client.ApiResponse<List<AuthorDto>> localVarResponse = GetAuthorsDeprecatedWithHttpInfo(search, libraryId, collectionId, seriesId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List authors Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <returns>ApiResponse of List&lt;AuthorDto&gt;</returns>
        [Obsolete]
        public Komga.Client.Client.ApiResponse<List<AuthorDto>> GetAuthorsDeprecatedWithHttpInfo(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default)
        {
            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "library_id", libraryId));
            }
            if (collectionId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "collection_id", collectionId));
            }
            if (seriesId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "series_id", seriesId));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<List<AuthorDto>>("/api/v1/authors", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetAuthorsDeprecated", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List authors Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of List&lt;AuthorDto&gt;</returns>
        [Obsolete]
        public async System.Threading.Tasks.Task<List<AuthorDto>> GetAuthorsDeprecatedAsync(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<List<AuthorDto>> localVarResponse = await GetAuthorsDeprecatedWithHttpInfoAsync(search, libraryId, collectionId, seriesId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List authors Use GET /api/v2/authors instead. Deprecated since 1.20.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional, default to &quot;&quot;)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="seriesId"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (List&lt;AuthorDto&gt;)</returns>
        [Obsolete]
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<List<AuthorDto>>> GetAuthorsDeprecatedWithHttpInfoAsync(string? search = default, string? libraryId = default, string? collectionId = default, string? seriesId = default, System.Threading.CancellationToken cancellationToken = default)
        {

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "library_id", libraryId));
            }
            if (collectionId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "collection_id", collectionId));
            }
            if (seriesId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "series_id", seriesId));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<List<AuthorDto>>("/api/v1/authors", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetAuthorsDeprecated", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        [Obsolete]
        public PageBookDto GetBooksBySeriesId(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = GetBooksBySeriesIdWithHttpInfo(seriesId, mediaStatus, readStatus, tag, deleted, unpaged, page, size, sort, author);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        [Obsolete]
        public Komga.Client.Client.ApiResponse<PageBookDto> GetBooksBySeriesIdWithHttpInfo(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling DeprecatedApi->GetBooksBySeriesId");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (deleted != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "deleted", deleted));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (sort != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "sort", sort));
            }
            if (author != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "author", author));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<PageBookDto>("/api/v1/series/{seriesId}/books", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBooksBySeriesId", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        [Obsolete]
        public async System.Threading.Tasks.Task<PageBookDto> GetBooksBySeriesIdAsync(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = await GetBooksBySeriesIdWithHttpInfoAsync(seriesId, mediaStatus, readStatus, tag, deleted, unpaged, page, size, sort, author, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        [Obsolete]
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<PageBookDto>> GetBooksBySeriesIdWithHttpInfoAsync(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling DeprecatedApi->GetBooksBySeriesId");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (deleted != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "deleted", deleted));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (sort != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "sort", sort));
            }
            if (author != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "author", author));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<PageBookDto>("/api/v1/series/{seriesId}/books", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBooksBySeriesId", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List series groups Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        public List<GroupCountDto> GetSeriesAlphabeticalGroupsDeprecated(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default)
        {
            Komga.Client.Client.ApiResponse<List<GroupCountDto>> localVarResponse = GetSeriesAlphabeticalGroupsDeprecatedWithHttpInfo(search, libraryId, collectionId, status, readStatus, publisher, language, genre, tag, ageRating, releaseYear, sharingLabel, deleted, complete, oneshot, searchRegex, author);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List series groups Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        public Komga.Client.Client.ApiResponse<List<GroupCountDto>> GetSeriesAlphabeticalGroupsDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default)
        {
            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (collectionId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "collection_id", collectionId));
            }
            if (status != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "status", status));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (publisher != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "publisher", publisher));
            }
            if (language != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "language", language));
            }
            if (genre != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "genre", genre));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (ageRating != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "age_rating", ageRating));
            }
            if (releaseYear != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "release_year", releaseYear));
            }
            if (sharingLabel != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "sharing_label", sharingLabel));
            }
            if (deleted != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "deleted", deleted));
            }
[...]
