/*
 * Komga API
 *
 * Komga REST API.  ## Reference  Check the API reference: - on the [Komga website](https://komga.org/docs/openapi/komga-api) - on any running Komga instance at `/swagger-ui.html` - on [GitHub](https://raw.githubusercontent.com/gotson/komga/refs/heads/master/komga/docs/openapi.json)  ## Authentication  Most endpoints require authentication. Authentication is done using either: - Basic Authentication - Passing an API Key in the `X-API-Key` header  ## Sessions  Upon successful authentication, a session is created, and can be reused.  - By default, a `KOMGA-SESSION` cookie is set via `Set-Cookie` response header. This works well for browsers and clients that can handle cookies. - If you specify a header `X-Auth-Token` during authentication, the session ID will be returned via this same header. You can then pass that header again for subsequent requests to reuse the session.  If you need to set the session cookie later on, you can call `/api/v1/login/set-cookie` with `X-Auth-Token`. The response will contain the `Set-Cookie` header.  ## Remember Me  During authentication, if a request parameter `remember-me` is passed and set to `true`, the server will also return a `komga-remember-me` cookie. This cookie will be used to login automatically even if the session has expired.  ## Logout  You can explicitly logout an existing session by calling `/api/logout`. This would return a `204`.  ## Deprecation  API endpoints marked as deprecated will be removed in the next major version.
 *
 * The version of the OpenAPI document: 1.24.4
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using Komga.Client.Client;
using Komga.Client.Model;

namespace Komga.Client.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IReadlistBooksApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Get next book in readlist
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>BookDto</returns>
        BookDto GetBookSiblingNextInReadList(string id, string bookId);

        /// <summary>
        /// Get next book in readlist
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>ApiResponse of BookDto</returns>
        ApiResponse<BookDto> GetBookSiblingNextInReadListWithHttpInfo(string id, string bookId);
        /// <summary>
        /// Get previous book in readlist
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>BookDto</returns>
        BookDto GetBookSiblingPreviousInReadList(string id, string bookId);

        /// <summary>
        /// Get previous book in readlist
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>ApiResponse of BookDto</returns>
        ApiResponse<BookDto> GetBookSiblingPreviousInReadListWithHttpInfo(string id, string bookId);
        /// <summary>
        /// List readlist&#39;s books
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        PageBookDto GetBooksByReadListId(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default);

        /// <summary>
        /// List readlist&#39;s books
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        ApiResponse<PageBookDto> GetBooksByReadListIdWithHttpInfo(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IReadlistBooksApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Get next book in readlist
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of BookDto</returns>
        System.Threading.Tasks.Task<BookDto> GetBookSiblingNextInReadListAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get next book in readlist
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (BookDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<BookDto>> GetBookSiblingNextInReadListWithHttpInfoAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Get previous book in readlist
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of BookDto</returns>
        System.Threading.Tasks.Task<BookDto> GetBookSiblingPreviousInReadListAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get previous book in readlist
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (BookDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<BookDto>> GetBookSiblingPreviousInReadListWithHttpInfoAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List readlist&#39;s books
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        System.Threading.Tasks.Task<PageBookDto> GetBooksByReadListIdAsync(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List readlist&#39;s books
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<PageBookDto>> GetBooksByReadListIdWithHttpInfoAsync(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IReadlistBooksApi : IReadlistBooksApiSync, IReadlistBooksApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class ReadlistBooksApi : IDisposable, IReadlistBooksApi
    {
        private Komga.Client.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public ReadlistBooksApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public ReadlistBooksApi(string basePath)
        {
            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public ReadlistBooksApi(Komga.Client.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ReadlistBooksApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ReadlistBooksApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ReadlistBooksApi(HttpClient client, Komga.Client.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistBooksApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public ReadlistBooksApi(Komga.Client.Client.ISynchronousClient client, Komga.Client.Client.IAsynchronousClient asyncClient, Komga.Client.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public Komga.Client.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public Komga.Client.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public Komga.Client.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public Komga.Client.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public Komga.Client.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Get next book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>BookDto</returns>
        public BookDto GetBookSiblingNextInReadList(string id, string bookId)
        {
            Komga.Client.Client.ApiResponse<BookDto> localVarResponse = GetBookSiblingNextInReadListWithHttpInfo(id, bookId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get next book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>ApiResponse of BookDto</returns>
        public Komga.Client.Client.ApiResponse<BookDto> GetBookSiblingNextInReadListWithHttpInfo(string id, string bookId)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistBooksApi->GetBookSiblingNextInReadList");

            // verify the required parameter 'bookId' is set
            if (bookId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'bookId' when calling ReadlistBooksApi->GetBookSiblingNextInReadList");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            localVarRequestOptions.PathParameters.Add("bookId", Komga.Client.Client.ClientUtils.ParameterToString(bookId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<BookDto>("/api/v1/readlists/{id}/books/{bookId}/next", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBookSiblingNextInReadList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get next book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of BookDto</returns>
        public async System.Threading.Tasks.Task<BookDto> GetBookSiblingNextInReadListAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<BookDto> localVarResponse = await GetBookSiblingNextInReadListWithHttpInfoAsync(id, bookId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get next book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (BookDto)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<BookDto>> GetBookSiblingNextInReadListWithHttpInfoAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistBooksApi->GetBookSiblingNextInReadList");

            // verify the required parameter 'bookId' is set
            if (bookId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'bookId' when calling ReadlistBooksApi->GetBookSiblingNextInReadList");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            localVarRequestOptions.PathParameters.Add("bookId", Komga.Client.Client.ClientUtils.ParameterToString(bookId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<BookDto>("/api/v1/readlists/{id}/books/{bookId}/next", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBookSiblingNextInReadList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get previous book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>BookDto</returns>
        public BookDto GetBookSiblingPreviousInReadList(string id, string bookId)
        {
            Komga.Client.Client.ApiResponse<BookDto> localVarResponse = GetBookSiblingPreviousInReadListWithHttpInfo(id, bookId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get previous book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <returns>ApiResponse of BookDto</returns>
        public Komga.Client.Client.ApiResponse<BookDto> GetBookSiblingPreviousInReadListWithHttpInfo(string id, string bookId)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistBooksApi->GetBookSiblingPreviousInReadList");

            // verify the required parameter 'bookId' is set
            if (bookId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'bookId' when calling ReadlistBooksApi->GetBookSiblingPreviousInReadList");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            localVarRequestOptions.PathParameters.Add("bookId", Komga.Client.Client.ClientUtils.ParameterToString(bookId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<BookDto>("/api/v1/readlists/{id}/books/{bookId}/previous", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBookSiblingPreviousInReadList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get previous book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of BookDto</returns>
        public async System.Threading.Tasks.Task<BookDto> GetBookSiblingPreviousInReadListAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<BookDto> localVarResponse = await GetBookSiblingPreviousInReadListWithHttpInfoAsync(id, bookId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get previous book in readlist 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="bookId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (BookDto)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<BookDto>> GetBookSiblingPreviousInReadListWithHttpInfoAsync(string id, string bookId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistBooksApi->GetBookSiblingPreviousInReadList");

            // verify the required parameter 'bookId' is set
            if (bookId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'bookId' when calling ReadlistBooksApi->GetBookSiblingPreviousInReadList");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            localVarRequestOptions.PathParameters.Add("bookId", Komga.Client.Client.ClientUtils.ParameterToString(bookId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<BookDto>("/api/v1/readlists/{id}/books/{bookId}/previous", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBookSiblingPreviousInReadList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List readlist&#39;s books 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        public PageBookDto GetBooksByReadListId(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = GetBooksByReadListIdWithHttpInfo(id, libraryId, readStatus, tag, mediaStatus, deleted, unpaged, page, size, author);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List readlist&#39;s books 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        public Komga.Client.Client.ApiResponse<PageBookDto> GetBooksByReadListIdWithHttpInfo(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistBooksApi->GetBooksByReadListId");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (deleted != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "deleted", deleted));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (author != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "author", author));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<PageBookDto>("/api/v1/readlists/{id}/books", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBooksByReadListId", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List readlist&#39;s books 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        public async System.Threading.Tasks.Task<PageBookDto> GetBooksByReadListIdAsync(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = await GetBooksByReadListIdWithHttpInfoAsync(id, libraryId, readStatus, tag, mediaStatus, deleted, unpaged, page, size, author, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List readlist&#39;s books 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<PageBookDto>> GetBooksByReadListIdWithHttpInfoAsync(string id, List<string>? libraryId = default, List<string>? readStatus = default, List<string>? tag = default, List<string>? mediaStatus = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistBooksApi->GetBooksByReadListId");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (deleted != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "deleted", deleted));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (author != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "author", author));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<PageBookDto>("/api/v1/readlists/{id}/books", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBooksByReadListId", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

    }
}
