/*
 * Komga API
 *
 * Komga REST API.  ## Reference  Check the API reference: - on the [Komga website](https://komga.org/docs/openapi/komga-api) - on any running Komga instance at `/swagger-ui.html` - on [GitHub](https://raw.githubusercontent.com/gotson/komga/refs/heads/master/komga/docs/openapi.json)  ## Authentication  Most endpoints require authentication. Authentication is done using either: - Basic Authentication - Passing an API Key in the `X-API-Key` header  ## Sessions  Upon successful authentication, a session is created, and can be reused.  - By default, a `KOMGA-SESSION` cookie is set via `Set-Cookie` response header. This works well for browsers and clients that can handle cookies. - If you specify a header `X-Auth-Token` during authentication, the session ID will be returned via this same header. You can then pass that header again for subsequent requests to reuse the session.  If you need to set the session cookie later on, you can call `/api/v1/login/set-cookie` with `X-Auth-Token`. The response will contain the `Set-Cookie` header.  ## Remember Me  During authentication, if a request parameter `remember-me` is passed and set to `true`, the server will also return a `komga-remember-me` cookie. This cookie will be used to login automatically even if the session has expired.  ## Logout  You can explicitly logout an existing session by calling `/api/logout`. This would return a `204`.  ## Deprecation  API endpoints marked as deprecated will be removed in the next major version.
 *
 * The version of the OpenAPI document: 1.24.4
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using Komga.Client.Client;
using Komga.Client.Model;

namespace Komga.Client.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IReadlistsApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Create readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <returns>ReadListDto</returns>
        ReadListDto CreateReadList(ReadListCreationDto readListCreationDto);

        /// <summary>
        /// Create readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <returns>ApiResponse of ReadListDto</returns>
        ApiResponse<ReadListDto> CreateReadListWithHttpInfo(ReadListCreationDto readListCreationDto);
        /// <summary>
        /// Delete readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns></returns>
        void DeleteReadListById(string id);

        /// <summary>
        /// Delete readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> DeleteReadListByIdWithHttpInfo(string id);
        /// <summary>
        /// Download readlist
        /// </summary>
        /// <remarks>
        /// Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>Object</returns>
        Object DownloadReadListAsZip(string id);

        /// <summary>
        /// Download readlist
        /// </summary>
        /// <remarks>
        /// Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object</returns>
        ApiResponse<Object> DownloadReadListAsZipWithHttpInfo(string id);
        /// <summary>
        /// Get readlist details
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ReadListDto</returns>
        ReadListDto GetReadListById(string id);

        /// <summary>
        /// Get readlist details
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ApiResponse of ReadListDto</returns>
        ApiResponse<ReadListDto> GetReadListByIdWithHttpInfo(string id);
        /// <summary>
        /// List readlists
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>PageReadListDto</returns>
        PageReadListDto GetReadLists(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default);

        /// <summary>
        /// List readlists
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>ApiResponse of PageReadListDto</returns>
        ApiResponse<PageReadListDto> GetReadListsWithHttpInfo(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default);
        /// <summary>
        /// Update readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <returns></returns>
        void UpdateReadListById(string id, ReadListUpdateDto readListUpdateDto);

        /// <summary>
        /// Update readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> UpdateReadListByIdWithHttpInfo(string id, ReadListUpdateDto readListUpdateDto);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IReadlistsApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Create readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ReadListDto</returns>
        System.Threading.Tasks.Task<ReadListDto> CreateReadListAsync(ReadListCreationDto readListCreationDto, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Create readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ReadListDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<ReadListDto>> CreateReadListWithHttpInfoAsync(ReadListCreationDto readListCreationDto, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Delete readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task DeleteReadListByIdAsync(string id, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> DeleteReadListByIdWithHttpInfoAsync(string id, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Download readlist
        /// </summary>
        /// <remarks>
        /// Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Object</returns>
        System.Threading.Tasks.Task<Object> DownloadReadListAsZipAsync(string id, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download readlist
        /// </summary>
        /// <remarks>
        /// Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Object)</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> DownloadReadListAsZipWithHttpInfoAsync(string id, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Get readlist details
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ReadListDto</returns>
        System.Threading.Tasks.Task<ReadListDto> GetReadListByIdAsync(string id, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get readlist details
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ReadListDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<ReadListDto>> GetReadListByIdWithHttpInfoAsync(string id, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List readlists
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageReadListDto</returns>
        System.Threading.Tasks.Task<PageReadListDto> GetReadListsAsync(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List readlists
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageReadListDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<PageReadListDto>> GetReadListsWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Update readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task UpdateReadListByIdAsync(string id, ReadListUpdateDto readListUpdateDto, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update readlist
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> UpdateReadListByIdWithHttpInfoAsync(string id, ReadListUpdateDto readListUpdateDto, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IReadlistsApi : IReadlistsApiSync, IReadlistsApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class ReadlistsApi : IDisposable, IReadlistsApi
    {
        private Komga.Client.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public ReadlistsApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public ReadlistsApi(string basePath)
        {
            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public ReadlistsApi(Komga.Client.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ReadlistsApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ReadlistsApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public ReadlistsApi(HttpClient client, Komga.Client.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="ReadlistsApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public ReadlistsApi(Komga.Client.Client.ISynchronousClient client, Komga.Client.Client.IAsynchronousClient asyncClient, Komga.Client.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public Komga.Client.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public Komga.Client.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public Komga.Client.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public Komga.Client.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public Komga.Client.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Create readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <returns>ReadListDto</returns>
        public ReadListDto CreateReadList(ReadListCreationDto readListCreationDto)
        {
            Komga.Client.Client.ApiResponse<ReadListDto> localVarResponse = CreateReadListWithHttpInfo(readListCreationDto);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Create readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <returns>ApiResponse of ReadListDto</returns>
        public Komga.Client.Client.ApiResponse<ReadListDto> CreateReadListWithHttpInfo(ReadListCreationDto readListCreationDto)
        {
            // verify the required parameter 'readListCreationDto' is set
            if (readListCreationDto == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'readListCreationDto' when calling ReadlistsApi->CreateReadList");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.Data = readListCreationDto;

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Post<ReadListDto>("/api/v1/readlists", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("CreateReadList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Create readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ReadListDto</returns>
        public async System.Threading.Tasks.Task<ReadListDto> CreateReadListAsync(ReadListCreationDto readListCreationDto, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<ReadListDto> localVarResponse = await CreateReadListWithHttpInfoAsync(readListCreationDto, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Create readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="readListCreationDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ReadListDto)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<ReadListDto>> CreateReadListWithHttpInfoAsync(ReadListCreationDto readListCreationDto, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'readListCreationDto' is set
            if (readListCreationDto == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'readListCreationDto' when calling ReadlistsApi->CreateReadList");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.Data = readListCreationDto;

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.PostAsync<ReadListDto>("/api/v1/readlists", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("CreateReadList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Delete readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns></returns>
        public void DeleteReadListById(string id)
        {
            DeleteReadListByIdWithHttpInfo(id);
        }

        /// <summary>
        /// Delete readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Komga.Client.Client.ApiResponse<Object> DeleteReadListByIdWithHttpInfo(string id)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->DeleteReadListById");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Delete<Object>("/api/v1/readlists/{id}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DeleteReadListById", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Delete readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task DeleteReadListByIdAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            await DeleteReadListByIdWithHttpInfoAsync(id, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// Delete readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<Object>> DeleteReadListByIdWithHttpInfoAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->DeleteReadListById");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.DeleteAsync<Object>("/api/v1/readlists/{id}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DeleteReadListById", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Download readlist Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>Object</returns>
        public Object DownloadReadListAsZip(string id)
        {
            Komga.Client.Client.ApiResponse<Object> localVarResponse = DownloadReadListAsZipWithHttpInfo(id);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Download readlist Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object</returns>
        public Komga.Client.Client.ApiResponse<Object> DownloadReadListAsZipWithHttpInfo(string id)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->DownloadReadListAsZip");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "application/octet-stream",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Object>("/api/v1/readlists/{id}/file", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DownloadReadListAsZip", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Download readlist Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Object</returns>
        public async System.Threading.Tasks.Task<Object> DownloadReadListAsZipAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<Object> localVarResponse = await DownloadReadListAsZipWithHttpInfoAsync(id, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Download readlist Download the whole readlist as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Object)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<Object>> DownloadReadListAsZipWithHttpInfoAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->DownloadReadListAsZip");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "application/octet-stream",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Object>("/api/v1/readlists/{id}/file", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DownloadReadListAsZip", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get readlist details 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ReadListDto</returns>
        public ReadListDto GetReadListById(string id)
        {
            Komga.Client.Client.ApiResponse<ReadListDto> localVarResponse = GetReadListByIdWithHttpInfo(id);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get readlist details 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <returns>ApiResponse of ReadListDto</returns>
        public Komga.Client.Client.ApiResponse<ReadListDto> GetReadListByIdWithHttpInfo(string id)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->GetReadListById");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<ReadListDto>("/api/v1/readlists/{id}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetReadListById", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get readlist details 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ReadListDto</returns>
        public async System.Threading.Tasks.Task<ReadListDto> GetReadListByIdAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<ReadListDto> localVarResponse = await GetReadListByIdWithHttpInfoAsync(id, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Get readlist details 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ReadListDto)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<ReadListDto>> GetReadListByIdWithHttpInfoAsync(string id, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->GetReadListById");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<ReadListDto>("/api/v1/readlists/{id}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetReadListById", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List readlists 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>PageReadListDto</returns>
        public PageReadListDto GetReadLists(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default)
        {
            Komga.Client.Client.ApiResponse<PageReadListDto> localVarResponse = GetReadListsWithHttpInfo(search, libraryId, unpaged, page, size);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List readlists 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>ApiResponse of PageReadListDto</returns>
        public Komga.Client.Client.ApiResponse<PageReadListDto> GetReadListsWithHttpInfo(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default)
        {
            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<PageReadListDto>("/api/v1/readlists", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetReadLists", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List readlists 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageReadListDto</returns>
        public async System.Threading.Tasks.Task<PageReadListDto> GetReadListsAsync(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<PageReadListDto> localVarResponse = await GetReadListsWithHttpInfoAsync(search, libraryId, unpaged, page, size, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List readlists 
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageReadListDto)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<PageReadListDto>> GetReadListsWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default)
        {

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            if (search != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "search", search));
            }
            if (libraryId != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "library_id", libraryId));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<PageReadListDto>("/api/v1/readlists", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetReadLists", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Update readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <returns></returns>
        public void UpdateReadListById(string id, ReadListUpdateDto readListUpdateDto)
        {
            UpdateReadListByIdWithHttpInfo(id, readListUpdateDto);
        }

        /// <summary>
        /// Update readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Komga.Client.Client.ApiResponse<Object> UpdateReadListByIdWithHttpInfo(string id, ReadListUpdateDto readListUpdateDto)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->UpdateReadListById");

            // verify the required parameter 'readListUpdateDto' is set
            if (readListUpdateDto == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'readListUpdateDto' when calling ReadlistsApi->UpdateReadListById");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            localVarRequestOptions.Data = readListUpdateDto;

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Patch<Object>("/api/v1/readlists/{id}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("UpdateReadListById", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Update readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task UpdateReadListByIdAsync(string id, ReadListUpdateDto readListUpdateDto, System.Threading.CancellationToken cancellationToken = default)
        {
            await UpdateReadListByIdWithHttpInfoAsync(id, readListUpdateDto, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// Update readlist Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="id"></param>
        /// <param name="readListUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<Object>> UpdateReadListByIdWithHttpInfoAsync(string id, ReadListUpdateDto readListUpdateDto, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'id' when calling ReadlistsApi->UpdateReadListById");

            // verify the required parameter 'readListUpdateDto' is set
            if (readListUpdateDto == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'readListUpdateDto' when calling ReadlistsApi->UpdateReadListById");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("id", Komga.Client.Client.ClientUtils.ParameterToString(id)); // path parameter
            localVarRequestOptions.Data = readListUpdateDto;

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.PatchAsync<Object>("/api/v1/readlists/{id}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("UpdateReadListById", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

    }
}
