/*
 * Komga API
 *
 * Komga REST API.  ## Reference  Check the API reference: - on the [Komga website](https://komga.org/docs/openapi/komga-api) - on any running Komga instance at `/swagger-ui.html` - on [GitHub](https://raw.githubusercontent.com/gotson/komga/refs/heads/master/komga/docs/openapi.json)  ## Authentication  Most endpoints require authentication. Authentication is done using either: - Basic Authentication - Passing an API Key in the `X-API-Key` header  ## Sessions  Upon successful authentication, a session is created, and can be reused.  - By default, a `KOMGA-SESSION` cookie is set via `Set-Cookie` response header. This works well for browsers and clients that can handle cookies. - If you specify a header `X-Auth-Token` during authentication, the session ID will be returned via this same header. You can then pass that header again for subsequent requests to reuse the session.  If you need to set the session cookie later on, you can call `/api/v1/login/set-cookie` with `X-Auth-Token`. The response will contain the `Set-Cookie` header.  ## Remember Me  During authentication, if a request parameter `remember-me` is passed and set to `true`, the server will also return a `komga-remember-me` cookie. This cookie will be used to login automatically even if the session has expired.  ## Logout  You can explicitly logout an existing session by calling `/api/logout`. This would return a `204`.  ## Deprecation  API endpoints marked as deprecated will be removed in the next major version.
 *
 * The version of the OpenAPI document: 1.24.4
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using Komga.Client.Client;
using Komga.Client.Model;

namespace Komga.Client.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ISeriesApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Delete series files
        /// </summary>
        /// <remarks>
        /// Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns></returns>
        void DeleteSeriesFile(string seriesId);

        /// <summary>
        /// Delete series files
        /// </summary>
        /// <remarks>
        /// Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> DeleteSeriesFileWithHttpInfo(string seriesId);
        /// <summary>
        /// Download series
        /// </summary>
        /// <remarks>
        /// Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>Object</returns>
        Object DownloadSeriesAsZip(string seriesId);

        /// <summary>
        /// Download series
        /// </summary>
        /// <remarks>
        /// Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object</returns>
        ApiResponse<Object> DownloadSeriesAsZipWithHttpInfo(string seriesId);
        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        [Obsolete]
        PageBookDto GetBooksBySeriesId(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);

        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        [Obsolete]
        ApiResponse<PageBookDto> GetBooksBySeriesIdWithHttpInfo(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);
        /// <summary>
        /// List series&#39; collections
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>List&lt;CollectionDto&gt;</returns>
        List<CollectionDto> GetCollectionsBySeriesId(string seriesId);

        /// <summary>
        /// List series&#39; collections
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of List&lt;CollectionDto&gt;</returns>
        ApiResponse<List<CollectionDto>> GetCollectionsBySeriesIdWithHttpInfo(string seriesId);
        /// <summary>
        /// List series
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <returns>PageSeriesDto</returns>
        PageSeriesDto GetSeries(SeriesSearch seriesSearch, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default);

        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageSeriesDto</returns>
        ApiResponse<PageSeriesDto> GetSeriesWithHttpInfo(SeriesSearch seriesSearch, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default);
        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// List series grouped by the first character of their sort title.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <returns>List&lt;GroupCountDto&gt;</returns>
        List<GroupCountDto> GetSeriesAlphabeticalGroups(SeriesSearch seriesSearch);

        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// List series grouped by the first character of their sort title.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <returns>ApiResponse of List&lt;GroupCountDto&gt;</returns>
        ApiResponse<List<GroupCountDto>> GetSeriesAlphabeticalGroupsWithHttpInfo(SeriesSearch seriesSearch);
        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        List<GroupCountDto> GetSeriesAlphabeticalGroupsDeprecated(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default);

        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        ApiResponse<List<GroupCountDto>> GetSeriesAlphabeticalGroupsDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default);
        /// <summary>
        /// Get series details
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>SeriesDto</returns>
        SeriesDto GetSeriesById(string seriesId);

        /// <summary>
        /// Get series details
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of SeriesDto</returns>
        ApiResponse<SeriesDto> GetSeriesByIdWithHttpInfo(string seriesId);
        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageSeriesDto</returns>
        [Obsolete]
        PageSeriesDto GetSeriesDeprecated(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);

        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageSeriesDto</returns>
        [Obsolete]
        ApiResponse<PageSeriesDto> GetSeriesDeprecatedWithHttpInfo(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default);
        /// <summary>
        /// List latest series
        /// </summary>
        /// <remarks>
        /// Return recently added or updated series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>PageSeriesDto</returns>
        PageSeriesDto GetSeriesLatest(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default);

        /// <summary>
        /// List latest series
        /// </summary>
        /// <remarks>
        /// Return recently added or updated series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>ApiResponse of PageSeriesDto</returns>
        ApiResponse<PageSeriesDto> GetSeriesLatestWithHttpInfo(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default);
        /// <summary>
        /// List new series
        /// </summary>
        /// <remarks>
        /// Return newly added series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>PageSeriesDto</returns>
        PageSeriesDto GetSeriesNew(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default);

        /// <summary>
        /// List new series
        /// </summary>
        /// <remarks>
        /// Return newly added series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>ApiResponse of PageSeriesDto</returns>
        ApiResponse<PageSeriesDto> GetSeriesNewWithHttpInfo(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default);
        /// <summary>
        /// List updated series
        /// </summary>
        /// <remarks>
        /// Return recently updated series, but not newly added ones.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>PageSeriesDto</returns>
        PageSeriesDto GetSeriesUpdated(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default);

        /// <summary>
        /// List updated series
        /// </summary>
        /// <remarks>
        /// Return recently updated series, but not newly added ones.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <returns>ApiResponse of PageSeriesDto</returns>
        ApiResponse<PageSeriesDto> GetSeriesUpdatedWithHttpInfo(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default);
        /// <summary>
        /// Mark series as read
        /// </summary>
        /// <remarks>
        /// Mark all book for series as read
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns></returns>
        void MarkSeriesAsRead(string seriesId);

        /// <summary>
        /// Mark series as read
        /// </summary>
        /// <remarks>
        /// Mark all book for series as read
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> MarkSeriesAsReadWithHttpInfo(string seriesId);
        /// <summary>
        /// Mark series as unread
        /// </summary>
        /// <remarks>
        /// Mark all book for series as unread
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns></returns>
        void MarkSeriesAsUnread(string seriesId);

        /// <summary>
        /// Mark series as unread
        /// </summary>
        /// <remarks>
        /// Mark all book for series as unread
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> MarkSeriesAsUnreadWithHttpInfo(string seriesId);
        /// <summary>
        /// Analyze series
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns></returns>
        void SeriesAnalyze(string seriesId);

        /// <summary>
        /// Analyze series
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> SeriesAnalyzeWithHttpInfo(string seriesId);
        /// <summary>
        /// Refresh series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns></returns>
        void SeriesRefreshMetadata(string seriesId);

        /// <summary>
        /// Refresh series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> SeriesRefreshMetadataWithHttpInfo(string seriesId);
        /// <summary>
        /// Update series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="seriesMetadataUpdateDto"></param>
        /// <returns></returns>
        void UpdateSeriesMetadata(string seriesId, SeriesMetadataUpdateDto seriesMetadataUpdateDto);

        /// <summary>
        /// Update series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="seriesMetadataUpdateDto"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> UpdateSeriesMetadataWithHttpInfo(string seriesId, SeriesMetadataUpdateDto seriesMetadataUpdateDto);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ISeriesApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Delete series files
        /// </summary>
        /// <remarks>
        /// Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task DeleteSeriesFileAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Delete series files
        /// </summary>
        /// <remarks>
        /// Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> DeleteSeriesFileWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Download series
        /// </summary>
        /// <remarks>
        /// Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Object</returns>
        System.Threading.Tasks.Task<Object> DownloadSeriesAsZipAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Download series
        /// </summary>
        /// <remarks>
        /// Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Object)</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> DownloadSeriesAsZipWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageBookDto</returns>
        [Obsolete]
        System.Threading.Tasks.Task<PageBookDto> GetBooksBySeriesIdAsync(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series&#39; books
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageBookDto)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<PageBookDto>> GetBooksBySeriesIdWithHttpInfoAsync(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series&#39; collections
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of List&lt;CollectionDto&gt;</returns>
        System.Threading.Tasks.Task<List<CollectionDto>> GetCollectionsBySeriesIdAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series&#39; collections
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (List&lt;CollectionDto&gt;)</returns>
        System.Threading.Tasks.Task<ApiResponse<List<CollectionDto>>> GetCollectionsBySeriesIdWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageSeriesDto</returns>
        System.Threading.Tasks.Task<PageSeriesDto> GetSeriesAsync(SeriesSearch seriesSearch, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageSeriesDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<PageSeriesDto>> GetSeriesWithHttpInfoAsync(SeriesSearch seriesSearch, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// List series grouped by the first character of their sort title.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of List&lt;GroupCountDto&gt;</returns>
        System.Threading.Tasks.Task<List<GroupCountDto>> GetSeriesAlphabeticalGroupsAsync(SeriesSearch seriesSearch, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// List series grouped by the first character of their sort title.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesSearch"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (List&lt;GroupCountDto&gt;)</returns>
        System.Threading.Tasks.Task<ApiResponse<List<GroupCountDto>>> GetSeriesAlphabeticalGroupsWithHttpInfoAsync(SeriesSearch seriesSearch, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of List&lt;GroupCountDto&gt;</returns>
        [Obsolete]
        System.Threading.Tasks.Task<List<GroupCountDto>> GetSeriesAlphabeticalGroupsDeprecatedAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series groups
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list/alphabetical-groups instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (List&lt;GroupCountDto&gt;)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<List<GroupCountDto>>> GetSeriesAlphabeticalGroupsDeprecatedWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, string? searchRegex = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Get series details
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of SeriesDto</returns>
        System.Threading.Tasks.Task<SeriesDto> GetSeriesByIdAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get series details
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (SeriesDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<SeriesDto>> GetSeriesByIdWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageSeriesDto</returns>
        [Obsolete]
        System.Threading.Tasks.Task<PageSeriesDto> GetSeriesDeprecatedAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List series
        /// </summary>
        /// <remarks>
        /// Use POST /api/v1/series/list instead. Deprecated since 1.19.0.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="search"> (optional)</param>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="collectionId"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="publisher"> (optional)</param>
        /// <param name="language"> (optional)</param>
        /// <param name="genre"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="ageRating"> (optional)</param>
        /// <param name="releaseYear"> (optional)</param>
        /// <param name="sharingLabel"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="complete"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="searchRegex">Search by regex criteria, in the form: regex,field. Supported fields are TITLE and TITLE_SORT. (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageSeriesDto)</returns>
        [Obsolete]
        System.Threading.Tasks.Task<ApiResponse<PageSeriesDto>> GetSeriesDeprecatedWithHttpInfoAsync(string? search = default, List<string>? libraryId = default, List<string>? collectionId = default, List<string>? status = default, List<string>? readStatus = default, List<string>? publisher = default, List<string>? language = default, List<string>? genre = default, List<string>? tag = default, List<string>? ageRating = default, List<string>? releaseYear = default, List<string>? sharingLabel = default, bool? deleted = default, bool? complete = default, bool? oneshot = default, bool? unpaged = default, string? searchRegex = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List latest series
        /// </summary>
        /// <remarks>
        /// Return recently added or updated series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageSeriesDto</returns>
        System.Threading.Tasks.Task<PageSeriesDto> GetSeriesLatestAsync(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List latest series
        /// </summary>
        /// <remarks>
        /// Return recently added or updated series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageSeriesDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<PageSeriesDto>> GetSeriesLatestWithHttpInfoAsync(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List new series
        /// </summary>
        /// <remarks>
        /// Return newly added series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageSeriesDto</returns>
        System.Threading.Tasks.Task<PageSeriesDto> GetSeriesNewAsync(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List new series
        /// </summary>
        /// <remarks>
        /// Return newly added series.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageSeriesDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<PageSeriesDto>> GetSeriesNewWithHttpInfoAsync(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List updated series
        /// </summary>
        /// <remarks>
        /// Return recently updated series, but not newly added ones.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of PageSeriesDto</returns>
        System.Threading.Tasks.Task<PageSeriesDto> GetSeriesUpdatedAsync(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List updated series
        /// </summary>
        /// <remarks>
        /// Return recently updated series, but not newly added ones.
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="libraryId"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="oneshot"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (PageSeriesDto)</returns>
        System.Threading.Tasks.Task<ApiResponse<PageSeriesDto>> GetSeriesUpdatedWithHttpInfoAsync(List<string>? libraryId = default, bool? deleted = default, bool? oneshot = default, bool? unpaged = default, int? page = default, int? size = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Mark series as read
        /// </summary>
        /// <remarks>
        /// Mark all book for series as read
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task MarkSeriesAsReadAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Mark series as read
        /// </summary>
        /// <remarks>
        /// Mark all book for series as read
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> MarkSeriesAsReadWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Mark series as unread
        /// </summary>
        /// <remarks>
        /// Mark all book for series as unread
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task MarkSeriesAsUnreadAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Mark series as unread
        /// </summary>
        /// <remarks>
        /// Mark all book for series as unread
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> MarkSeriesAsUnreadWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Analyze series
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task SeriesAnalyzeAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Analyze series
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> SeriesAnalyzeWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Refresh series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task SeriesRefreshMetadataAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Refresh series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> SeriesRefreshMetadataWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Update series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="seriesMetadataUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task UpdateSeriesMetadataAsync(string seriesId, SeriesMetadataUpdateDto seriesMetadataUpdateDto, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Update series metadata
        /// </summary>
        /// <remarks>
        /// Required role: **ADMIN**
        /// </remarks>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="seriesMetadataUpdateDto"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> UpdateSeriesMetadataWithHttpInfoAsync(string seriesId, SeriesMetadataUpdateDto seriesMetadataUpdateDto, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ISeriesApi : ISeriesApiSync, ISeriesApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class SeriesApi : IDisposable, ISeriesApi
    {
        private Komga.Client.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public SeriesApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public SeriesApi(string basePath)
        {
            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public SeriesApi(Komga.Client.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public SeriesApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public SeriesApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                new Komga.Client.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public SeriesApi(HttpClient client, Komga.Client.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Komga.Client.Client.Configuration.MergeConfigurations(
                Komga.Client.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Komga.Client.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SeriesApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public SeriesApi(Komga.Client.Client.ISynchronousClient client, Komga.Client.Client.IAsynchronousClient asyncClient, Komga.Client.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = Komga.Client.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public Komga.Client.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public Komga.Client.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public Komga.Client.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public Komga.Client.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public Komga.Client.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Delete series files Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns></returns>
        public void DeleteSeriesFile(string seriesId)
        {
            DeleteSeriesFileWithHttpInfo(seriesId);
        }

        /// <summary>
        /// Delete series files Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Komga.Client.Client.ApiResponse<Object> DeleteSeriesFileWithHttpInfo(string seriesId)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling SeriesApi->DeleteSeriesFile");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Delete<Object>("/api/v1/series/{seriesId}/file", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DeleteSeriesFile", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Delete series files Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task DeleteSeriesFileAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default)
        {
            await DeleteSeriesFileWithHttpInfoAsync(seriesId, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// Delete series files Delete all of the series&#39; books files on disk.  Required role: **ADMIN**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<Object>> DeleteSeriesFileWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling SeriesApi->DeleteSeriesFile");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.DeleteAsync<Object>("/api/v1/series/{seriesId}/file", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DeleteSeriesFile", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Download series Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>Object</returns>
        public Object DownloadSeriesAsZip(string seriesId)
        {
            Komga.Client.Client.ApiResponse<Object> localVarResponse = DownloadSeriesAsZipWithHttpInfo(seriesId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Download series Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <returns>ApiResponse of Object</returns>
        public Komga.Client.Client.ApiResponse<Object> DownloadSeriesAsZipWithHttpInfo(string seriesId)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling SeriesApi->DownloadSeriesAsZip");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "application/octet-stream",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Object>("/api/v1/series/{seriesId}/file", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DownloadSeriesAsZip", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Download series Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Object</returns>
        public async System.Threading.Tasks.Task<Object> DownloadSeriesAsZipAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default)
        {
            Komga.Client.Client.ApiResponse<Object> localVarResponse = await DownloadSeriesAsZipWithHttpInfoAsync(seriesId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Download series Download the whole series as a ZIP file.  Required role: **FILE_DOWNLOAD**
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Object)</returns>
        public async System.Threading.Tasks.Task<Komga.Client.Client.ApiResponse<Object>> DownloadSeriesAsZipWithHttpInfoAsync(string seriesId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling SeriesApi->DownloadSeriesAsZip");


            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "application/octet-stream",
                "*/*"
            };


            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Object>("/api/v1/series/{seriesId}/file", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DownloadSeriesAsZip", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>PageBookDto</returns>
        [Obsolete]
        public PageBookDto GetBooksBySeriesId(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default)
        {
            Komga.Client.Client.ApiResponse<PageBookDto> localVarResponse = GetBooksBySeriesIdWithHttpInfo(seriesId, mediaStatus, readStatus, tag, deleted, unpaged, page, size, sort, author);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="seriesId"></param>
        /// <param name="mediaStatus"> (optional)</param>
        /// <param name="readStatus"> (optional)</param>
        /// <param name="tag"> (optional)</param>
        /// <param name="deleted"> (optional)</param>
        /// <param name="unpaged"> (optional)</param>
        /// <param name="page">Zero-based page index (0..N) (optional)</param>
        /// <param name="size">The size of the page to be returned (optional)</param>
        /// <param name="sort">Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)</param>
        /// <param name="author">Author criteria in the format: name,role. Multiple author criteria are supported. (optional)</param>
        /// <returns>ApiResponse of PageBookDto</returns>
        [Obsolete]
        public Komga.Client.Client.ApiResponse<PageBookDto> GetBooksBySeriesIdWithHttpInfo(string seriesId, List<string>? mediaStatus = default, List<string>? readStatus = default, List<string>? tag = default, bool? deleted = default, bool? unpaged = default, int? page = default, int? size = default, List<string>? sort = default, List<string>? author = default)
        {
            // verify the required parameter 'seriesId' is set
            if (seriesId == null)
                throw new Komga.Client.Client.ApiException(400, "Missing required parameter 'seriesId' when calling SeriesApi->GetBooksBySeriesId");

            Komga.Client.Client.RequestOptions localVarRequestOptions = new Komga.Client.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json",
                "*/*"
            };

            var localVarContentType = Komga.Client.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Komga.Client.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("seriesId", Komga.Client.Client.ClientUtils.ParameterToString(seriesId)); // path parameter
            if (mediaStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "media_status", mediaStatus));
            }
            if (readStatus != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "read_status", readStatus));
            }
            if (tag != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "tag", tag));
            }
            if (deleted != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "deleted", deleted));
            }
            if (unpaged != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "unpaged", unpaged));
            }
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (size != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("", "size", size));
            }
            if (sort != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "sort", sort));
            }
            if (author != null)
            {
                localVarRequestOptions.QueryParameters.Add(Komga.Client.Client.ClientUtils.ParameterToMultiMap("multi", "author", author));
            }

            // authentication (apiKey) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (basicAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + Komga.Client.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<PageBookDto>("/api/v1/series/{seriesId}/books", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetBooksBySeriesId", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List series&#39; books Use POST /api/v1/books/list instead. Deprecated since 1.19.0.
        /// </summary>
        /// <exception cref="Komga.Client.Client.ApiException">Thrown when fails to make API call</exception>
[...]
